@model IEnumerable<SoberModel.PaidListing>

@{
    ViewBag.Title = "Adolescent Treatment - Find the best care right now";
    ViewBag.SelectedCategory = 1;
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section includes
{
    @Scripts.Render("~/bundles/profile_scripts")
    @Styles.Render("~/content/profile_css")
}
@section head {
    <meta name="description" content="Complete list of adolescent Treatment Centers with reviews, pictures, and cost information. Find the perfect fit at Sober.com right now!">
}

<div class="search-header">
    <div class="container">
        @Html.Partial("_facilitysearcharea")
    </div>
</div>

<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li>@Html.ActionLink("Directory", "index", "directory")</li>
            <li class="active">Adolescent Treatment</li>
        </ol>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Adolescent Treatment</h2>
                    </div>
                </div>

                @Html.Partial("_PaidListing", Model)

            </div>

            <div class="col-md-2">
                <h5>Sponsored ads</h5>
                <ul class="link-list">
                    <li>@Html.Partial("_Ads2")</li>
                    <li>@Html.Partial("_Ads3")</li>
                </ul>
                @Html.Partial("_StateLinksSeo")
            </div>
        </div>

        <div class="container">
            <div class="faq">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Adolescent Services FAQs</h4></div>
                </div>
                <ul class="row faq-list">
                    <li class="com-md-12">
                        <h6>What are adolescent treatment centers?</h6>
                        <p>An adolescent treatment center provides assessment and treatment to adolescents or people below 18 years of age. It can be out-patient or in-patient/residential treatment program depending on the needs of the adolescent. Some adolescent services accommodate young adults aged 23 years and below.</p>
                    </li>
                    <li class="com-md-12">
                        <h6>What types of services are commonly offered to adolescents with substance abuse?</h6>
                        <p>Services offered to adolescents include the following:</p>
                        <ul>
                            <li>Acute and sub-acute youth detoxification </li>
                            <li>Comprehensive Substance Abuse Evaluations</li>
                            <li>Family Counseling</li>
                            <li>Family Education and Support </li>
                            <li>Individual Counseling </li>
                            <li>In-patient treatment, working with youth with co-occurring disorders</li>
                            <li>Out-patient assessment</li>
                            <li>Psychiatric assessment and discussion</li>
                            <li>Recovery house services </li>
                            <li>Specialized Counseling Groups</li>
                            <li>Substance Abuse Education</li>
                            <li>Urine Drug Screening </li>
                        </ul>
                    </li>
                    <li class="com-md-12">
                        <h6>What special needs of adolescents are addressed by adolescent services?</h6>
                        <p>Adolescents have unique physical and emotional needs due to underdeveloped neuro-cognitive and psychological aspects. In most cases, teen substance abuse is associated with co-occurring mental health issues like attention-deficit hyperactivity disorder (ADHD), depressive and anxiety disorders, physical/ sexual abuse and academic problems. Social relationships are also very important for adolescents. Therefore, adolescent services focus on these issues by facilitating positive involvement of parental figures and integrating academics and athletics in the treatment programs. </p>
                        <p>The program also includes socialization, and gender-appropriate, cultural and developmental services. In addition, adolescent services offer comprehensive treatment and case management.</p>
                    </li>
                    <li class="com-md-12">
                        <h6>When should I enroll my child to an in-patient treatment program?</h6>
                        <p>Residential treatment program is offered to teens with:</p>
                        <ul>
                            <li>Intoxication problems</li>
                            <li>Medical and psychiatric complications due to substance abuse</li>
                            <li>High-risk recovery environment (abused, homeless, close peers or family using drugs) </li>
                            <li>No response to short treatment</li>
                            <li>Juvenile Justice System case </li>
                        </ul>
                    </li>
                    <li class="com-md-12">
                        <h6>What is the duration of in-patient treatment for adolescents?</h6>
                        <p>For residents who will only undergo detoxification, residency may last for several days only. But residents who are not responsive to treatment can stay from 45 days to one year. The same duration applies to youth offenders and residents with unstable family situations.</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            @Html.Partial("_AdResponsive")
        </div>
    </div>
</div>