@model IEnumerable<SoberModel.sp_GetSpotlightFacilitiesByCategory_Result>
@{
    ViewBag.Title = "Coaches, Counselors & Therapists - Find the best care right now";

    Layout = "~/Views/Shared/_Master.cshtml";
}
@section includes
{
    @Scripts.Render("~/bundles/profile_scripts")
    @Styles.Render("~/content/profile_css")
}
@section head {
    <meta name="description" content="Complete list of coaches counselors and therapists with reviews, pictures, and cost information. Find the perfect fit at Sober.com right now!">
}
<div class="section wrap-s">
    <ul class="breadcrumbs-s">
        <li class="first"><a href="@Url.Action("index", "home")">Home</a></li>
        <li>@Html.ActionLink("Directory", "index", "directory")</li>
        <li>@Html.ActionLink("Coaches, Counselors & Therapists", "coaches_counselors_therapists", "facilities")</li>
    </ul>
    <div class="profile-page-cont-s">
        <div class="title-cont-s">
            <h1>Coaches, Counselers, Therapists</h1>
        </div>
        <div class="cont-s">
            <div class="d-cont">
                <div class="carousel-s">
                    @Html.Partial("_SpotLightFacilities", Model)
                    <div class="search-bar-s">
                        @Html.Partial("_facilitysearcharea")
                    </div>
                    <div class="faq">
                        <div class="head">Detox centers FAQs</div>
                        <ul class="faqs">
                            <li>
                                <p class="ques">What is a drug detoxification ("detox") facility and why are they important?</p>
                                <p>An alcohol or drug detox facility is a standalone clinic that offers detoxification procedures aimed at removing the toxins from the body of someone who has been dependent to drugs and/or alcohol. Necessary treatment is implemented to avoid or minimize the withdrawal symptoms while removing the toxic chemicals from the body. During the detox treatment, an individual may receive small doses of suboxone, methadone or other synthetic recovery drugs in gradually decreased doses until the addict or alcoholic is totally weaned from the abused substance. </p>
                                <p>It is important to cleanse the system of the damaging chemicals caused by addictive substances in order for an individual to be physically and mentally stable to undergo the other stages of rehabilitation such as counseling, psychological treatment and the like.</p>
                            </li>
                            <li>
                                <p class="ques">What is a drug detoxification ("detox") facility and why are they important?</p>
                                <p>An alcohol or drug facility is a standalone clinic that offers detoxification procedure aime at removing the toxins from the body of someone who has been dependent to drugs and/or alcohol. Necessary treatment is implemented to avoid or minimize the withdrawal symtoms while removing the toxic chemicals from the boday. During the detox treatment, an individual may receive small doses of suboxone, methadone or other synthetic recovery drugs in gradually decreased doses until the addict or alcoholic is totally weaned from the abused substance. </p>
                                <p>It is important to clense the system of the damaging chemicals caused by addictgive substances in order for an individual to be physically and mentally stable to undergo the other stages of rehabilitation such as counseling, psychological treatment and the like.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ads-cont-links-s">
                <div class="title">Sponsored ads</div>
                <ul class="link-list">
                    <li>@Html.Partial("_Ads2")</li>
                    <li>@Html.Partial("_Ads3")</li>
                </ul>
                @Html.Partial("_StateLinksSeo")
            </div>
        </div>
        <div>
            @Html.Partial("_AdResponsive")
        </div>
    </div>
</div>
