@model IEnumerable<SoberModel.sp_GetSpotlightFacilitiesByCategory_Result>
@{
    ViewBag.Title = "detox_facilities";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section includes
{
    @Scripts.Render("~/bundles/profile_scripts")
    @Styles.Render("~/content/profile_css")
}
@section head {
    <meta name="description" content="Complete list of doctors with reviews, pictures, and cost information. Find the perfect fit at Sober.com right now!">
}
<div class="section wrap-s">
    <ul class="breadcrumbs-s">
        <li class="first"><a href="">Home</a></li>
        <li><a href="">Directory</a></li>
        <li><a href="">Drug Detox Centers</a></li>
    </ul>
    <div class="profile-page-cont-s">
        <div class="title-cont-s">
            <h1>Doctors</h1>
        </div>
        <div class="cont-s">
            <div class="d-cont">
                <div class="carousel-s">
                    @Html.Partial("_SpotLightFacilities", Model)
                    <div class="search-bar-s">
                        @Html.Partial("_facilitysearcharea")
                    </div>
                    <div class="faq">
                        <div class="head">Recovery Doctors - FAQs</div>
                        <ul class="faqs">
                            <li>
                                <p class="ques">What is a recovery doctor?</p>
                                <p>Recovery doctor is a licensed physician who prescribes medications to recovering addicts in order to arrest and reverse the effects of substance abuse. Medications are intended to help recovering addicts withdraw effectively and safely from drugs.</p>

                            </li>
                            <li>
                                <p class="ques">What do they prescribe?</p>
                                <p>Recovery doctors prescribe drug detox medications like buprenorphine, methadone, LAAM, Suboxone, and Subutex. These medications are intended to reduce the intense and uncomfortable side effects of drug withdrawal.</p>
                            </li>
                            <li>
                                <p class="ques">Are there special requirements for a doctor to be able to prescribe buprenorphine prescriptions like methadone, uboxone, or Subutex?</p>
                                <p>SAMSHA regulations allow recovery doctors working in an accredited Opioid Treatment Program (OTP) like Methadone clinic to prescribe buprenorphine, methadone, LAAM or their generic versions.</p>
                                <p>Recovery doctors working outside an OTP can prescribe Suboxone and Subutex if they have DATA 2000 waivers. Provided, they prescribe these drugs or their generic versions within the practice settings they are authorized to carry out their medical functions or in a medically appropriate setting like hospital, office or clinic.</p>
                            </li>
                            <li>
                                <p class="ques">Is methadone treatment effective? </p>
                                <p>
                                    Yes. Studies showed that Methadone Maintenance Treatment (MMT) is effective in treating narcotic and heroin addiction. It reduces illicit use of drugs, helps a patient hang on to the drug treatment program, and it is cost-effective.
In a study conducted by Kosten, Rounsaville and Kelber in 1987, Methadone Maintenance Treatment dramatically improved the medical, psychological, social, legal and financial conditions of 150-patients patients on MMT within 2 years and a half. The results of the aforementioned study strengthened the assumptions of McGlothlin and Anglin in their comparative research entitled “Patient Status Before and After Methadone Maintenance Treatment” in 1981. Mc Glothin and Anglin concluded that 68% of patients on MMT experienced noteworthy improvements with regards to illicit use of drugs and criminal offenses. Additionally, 27% of MMT patients did not use drugs or were not involved in criminal offenses one year after the MMT.
                                </p>
                            </li>
                            <li>
                                <p class="ques">Is Subutex or Suboxone treatment better than methadone treatment?</p>
                                <p>Subutex, Suboxone and methadone are drugs that are effective in their own rights in treating opioid addiction. However, some patients find Subutex and Suboxone treatment more accessible and easier to use. Unlike methadone which must be taken in a methadone clinic everyday with medical supervision, Suboxone and Subutex can be taken by the patient at home. Provided, that the initial dose of Subutex/Suboxone is taken by the patient in the office of a Suboxone doctor. Afterwards, the recovery doctor can prescribe a month's prescription of Subutex/Suboxone that maybe taken in his or her home. In addition, Buprenorphine (Subutex/Suboxone) has a low ceiling effect which makes it less likely for recovering addicts to overdose.</p>
                                <img src="../images/faqu.png" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ads-cont-links-s">
            </div>
        </div>
        <div>
            @Html.Partial("_AdResponsive")
        </div>
    </div>
</div>
