@model IEnumerable<SoberModel.FreeListing>
@{
    ViewBag.Title = "Free Rehabs/Low Cost Rehabs Alcohol Treatment and Drug Treatment Programs close to home";
    Layout = "~/Views/Shared/_Master.cshtml";
    ViewBag.SelectedCategory = 6;
    ViewBag.SelectedPayment = "lowcost";
    
}
@section includes
{
    @Scripts.Render("~/bundles/profile_scripts")
    @Styles.Render("~/content/profile_css")
}
@section head {
    <meta name="description" content="Complete list of Women's Treatment Centers with reviews, pictures, and cost information. Find the perfect fit at Sober.com right now!">
}

<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li>@Html.ActionLink("Directory", "index", "directory")</li>
            <li class="active">Free Rehabs/Low Cost Rehabs Alcohol Treatment and Drug Rehab Options</li>
        </ol>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Rehabs Offering Free Rehabs/Low Cost Rehabs Options</h2>
                    </div>
                </div>

                @Html.Partial("_exclusive", Model)

                <ul class="pages row">
                    @if (Model != null && (Model.Count() <= 10))
                    {
                        <li>@Html.ActionLink("Top 20 lowcost Alcohol Treatment and Drug Rehab »", "low-cost-free-rehabs", new { count = 20 })</li>
                        <li>@Html.ActionLink("Top 30 lowcost Alcohol Treatment and Drug Rehab »»", "low-cost-free-rehabs", new { count = 30 })</li>
                    }
                    @if (Model != null && (Model.Count() > 10) && (Model.Count() <= 20))
                    {
                        <li>@Html.ActionLink("Top 10 lowcost Alcohol Treatment and Drug Rehab «", "low-cost-free-rehabs", new { count = 10 })</li>
                        <li>@Html.ActionLink("Top 30 lowcost Alcohol Treatment and Drug Rehab »", "low-cost-free-rehabs", new { count = 30 })</li>
                    }
                    @if (Model != null && (Model.Count() > 20))
                    {
                        <li>@Html.ActionLink("Top 10 lowcost Alcohol Treatment and Drug Rehab ««", "low-cost-free-rehabs", new { count = 10 })</li>
                        <li>@Html.ActionLink("Top 20 lowcost Alcohol Treatment and Drug Rehab «", "low-cost-free-rehabs", new { count = 20 })</li>
                    }

                </ul>
            </div>

            <div class="col-md-2">
                <h5>Sponsored ads</h5>
                <ul class="link-list">
                    <li>@Html.Partial("_Ads2")</li>
                    <li>@Html.Partial("_Ads3")</li>
                </ul>
                @Html.Partial("_StateLinksSeoPaymentType")
            </div>
        </div>
        
        <div class="row">
            @Html.Partial("_AdResponsive")
        </div>
    </div>
</div>
