@model IEnumerable<SoberModel.sp_GetSpotlightFacilitiesByCategory_Result>
@{
    ViewBag.Title = "Sober Houses - Find the best care right now";
    Layout = "~/Views/Shared/_Master.cshtml";
    ViewBag.SelectedCategory = 13;
}
@section includes
{
    @Scripts.Render("~/bundles/profile_scripts")
    @Styles.Render("~/content/profile_css")
}
@section head {
    <meta name="description" content="Complete list of sober houses with reviews, pictures, and cost information. Find the perfect fit at Sober.com right now!">
    <link rel="canonical" href="http://www.sober.com/facilities/halfway_houses" />
}

<div class="search-header">
    <div class="container">
        @Html.Partial("_facilitysearcharea")
    </div>
</div>

<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li>@Html.ActionLink("Directory", "index", "directory")</li>
            <li class="active">Sober Houses</li>
        </ol>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Sober Houses</h2>
                    </div>
                </div>

                @Html.Partial("_SpotLightFacilities", Model)
            </div>

            <div class="col-md-2">
                <h5>Sponsored ads</h5>
                <ul class="link-list">
                    <li>@Html.Partial("_Ads2")</li>
                    <li>@Html.Partial("_Ads3")</li>
                </ul>
                @Html.Partial("_StateLinksSeo")
            </div>
        </div>

        <div class="container">
            <div class="faq">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Sober Houses - FAQs</h4></div>
                </div>
                <ul class="row faq-list">
                    <li class="com-md-12">
                        <h6>What is a sober house (a/k/a 3/4 house) and why are they important?</h6>
                        <p>A sober house, also called a ¾ house, recovery house, or transitional living facility houses individuals recovering from alcoholism and drug addiction in order for them to focus on their recovery. Its residents are individuals coming directly from rehabilitation or 12-step programs, halfway houses, inpatient treatment facilities or those who simply want to have a sober environment to aid them in their transition. Sober houses provide a valuable method in assisting individuals in their long-term recovery from drug addiction and alcoholism, allowing recovering alcoholics and addicts a place to live a normal life while they continue their recovery.</p>
                    </li>
                    <li class="com-md-12">
                        <h6>What are common characteristics of a sober house?</h6>
                        <p>The following are the chief characteristics of a sober house:</p>
                        <ul>
                            <li>Residents live in or work out provided they follow the house rules. </li>
                            <li>It promotes 12-Step programs</li>
                            <li>It has a secured, safe and competent structure intended for the long-term recovery of individuals.</li>
                            <li>It has a 24-hour house manager and staff that implement the programs and exercises close supervision.</li>
                        </ul>
                    </li>
                    <li class="com-md-12">
                        <h6>What is the difference between a halfway house and a sober house?</h6>
                        <p>A sober house is an inexpensive drug and alcohol- free environment where the alcoholic or drug addict can obtain support from peer groups. In general, the rules at a halfway house are stricter than the rules at a sober house (sometimes called a 3/4 house). It provides a positive environment for recovering addicts and alcoholics to receive the emotional support they need from residents going through the same experiences. Experts agree that both halfway houses and sober houses (also referred to together as recovery housing or transitional living) are very important tools to use in one's lifelong recovery journey. </p>
                        <p>A halfway house imposes strict regulations for its residents in order to mitigate the chances of relapse. Residents are required to sign the house rules contract that includes the policy against bringing alcoholic drinks and prohibited drugs, and requires the adherence to curfew and similar rules. Noncompliance to the house rules subjects a resident to removal from the halfway house.</p>
                    </li>
                    <li class="com-md-12">
                        <h6>What things should I look for in evaluating sober homes?</h6>
                        <ul>
                            <li><strong>Safe, secure and drug-free.</strong> The sober house must have the necessary permit to ensure fire safety and building security. Unwarranted intrusions from outsiders must be eliminated. Alcohols and drugs should be strictly prohibited within the premises.</li>
                            <li><strong>Strict, written rules and guidelines.</strong> This is to ensure that the residents will have a structured environment that will minimize the possibility of relapse.</li>
                            <li><strong>Supportive staff available 24x7.</strong> There must be a manager or a staff member to answer the needs of the residents 24/7.</li>
                            <li><strong>12-Steps or comparable programs.</strong> Twelve Step programs are vital methods in alcoholism and drug addiction recovery. The residents must be trained to be accountable for their actions so that they will be able to cope up with the challenges that await them in the outside world.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            @Html.Partial("_AdResponsive")
        </div>
    </div>
</div>