<h2>Articles</h2>

<ul>
    <li>
        <a href="@Url.Action("article", "meetings", new { type ="aa", id = 1 })" target="_blank">Article 1: Signs that a Family Member Needs Help from Codependecy</a>
    </li>
    <li>
        <a href="@Url.Action("article", "meetings", new { type ="aa", id = 2 })" target="_blank">Article 2: How to Work the 12 Steps of Alcoholic Anonymous</a>
    </li>
    <li>
        <a href="@Url.Action("article", "meetings", new { type ="aa", id = 3 })" target="_blank">Article 3: What is AA</a>
    </li>
    <li>
        <a href="@Url.Action("article", "meetings", new { type ="aa", id = 4 })" target="_blank">Article 4: Signs You Need to Go to Rehab Before Attending AA</a>
    </li>
    <li>
        <a href="@Url.Action("article", "meetings", new { type ="aa", id = 5 })" target="_blank">Article 5: Should I Attend AA Retreats</a>
    </li>
    <li>
        <a href="@Url.Action("article", "meetings", new { type ="aa", id = 6 })" target="_blank">Article 6: Alanon</a>
    </li>
    <li>
        <a href="@Url.Action("article", "meetings", new { type ="aa", id = 7 })" target="_blank">Article 7: AA Meetings</a>
    </li>
    <li>
        <a href="@Url.Action("article", "meetings", new { type ="aa", id = 8 })" target="_blank">Article 8: Get Through Your First AA Meeting in 4 Easy Steps</a>
    </li>
</ul>