@model IEnumerable<SoberModel.FreeListing>
@{int count = 0;}

<ul class="listings order-list">
    @foreach (var item in Model)
    {
        count++;
        string state = item.location_state.ToLower();
        if (state != null && state.Length == 2)
        {
            state = MvcApplication4.utilities.GetStateNameFromAbbrevation(state).ToLower();
        }

        string picture = "http://www.sober.com/contents/pictures/default-profile-img.jpg";
        string link = Url.Action("profile", "directory", new { rehab = item.PageName.ToLower(), city = item.location_city.ToLower(), state = state, facility_type = item.surveyTypeShort.ToLower() });

        if (!string.IsNullOrWhiteSpace(item.displayImage) && File.Exists(@"C:\inetpub\SoberSurveyImagesAndVideos\Pictures\small\" + item.displayImage.Trim()))
        {
            picture = @"http://www.sober.com/contents/pictures/small/" + item.displayImage.Trim().Replace(" ", "%20").Replace("|", "").ToLower(); ;
        }
        if (!string.IsNullOrWhiteSpace(item.displayImage) && !File.Exists(@"C:\inetpub\SoberSurveyImagesAndVideos\Pictures\small\" + item.displayImage.Trim()))
        {
            picture = "http://www.sober.com/contents/pictures/" + item.displayImage;
            picture = picture.Replace(" ", "%20");

        }

        string resCostFromStr = String.Format("{0:C0}", item.Res_avg_Cost_From_TreatmentSurveyOnly);
        string resCostToStr = String.Format("{0:C0}", item.Res_avg_Cost_To_TreatmentSurveyOnly);

        <li>
            <div class="row">
                <div class="col-xs-12 col-md-8 listing-info">
                    <a href="@link">
                        <h5>@count&#46; @item.name1</h5>
                    </a>
                    @*<p>4.67 stars - based on 3 reviews</p>*@
                    <ul class="meta">
                        @*<li>
                                <ul class="rating">
                                    <li class="star-x"></li>
                                    <li class="star-x"></li>
                                    <li class="star-x"></li>
                                    <li class="halfstar"></li>
                                    <li class="star"></li>
                                </ul>
                            </li>*@
                        <li>@resCostFromStr-@resCostToStr</li>
                        <li>@item.location_city, @item.location_state</li>
                    </ul>
                    <div class="more" itemprop="description">
                        @Html.Raw(item.Description)
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <img class="img-rounded" src="@picture" width="282" height="153" />
                </div>

                <div class="celeb-cont">
                    @if (item.Alumni != null && item.Alumni.Count() > 0)
                    {

                        <p>The rich and famous who purportedly stayed here</p>
                        <ul>
                            @foreach (var alumni in item.Alumni)
                            {
                                string alumPic = "http://www.sober.com/contents/alumni/" + alumni.Image;
                                alumPic = alumPic.Replace(" ", "%20");
                                <li>

                                    <img src="@alumPic" />
                                    <label>@alumni.Name</label>
                                </li>


                            }
                        </ul>
                    }

                </div>
            </div>
        </li>
    }
</ul>