@{
    SoberBLL.ListingCategories categoryTypes = new SoberBLL.ListingCategories();
    var categoryList = categoryTypes.GetListingCategoryNames();
    var states = SoberModel.States.GetAllStates();
}

<div class="search-bar-s">
    <div class="wrap-s">
        <ul class="search-form-s inner-form">
            <li>
                <select id="FacilityType" class="styled">
                    <option value="@ViewBag.FacilityType">@ViewBag.FacilityType</option>
                </select>
            </li>
            <li>
                @Html.DropDownList("States", new SelectList(states, "StateName", "StateAbbreviation"), "State", new { @class = "styled" })
            </li>

            <li>
                <input type="text" id="Address" placeholder="Enter city and/or zip code" style="width: 150px !important" />
            </li>

            <li>
                <input type="submit" class="btn" value="Search" onclick="Search();" />
            </li>
            <li>
                @Html.ActionLink("Advanced Search", "advancedsearch", "directory", new object { }, new { @class = "link adv-search-s", @style = "color:white" })
            </li>
            <li class="float-right">
                <span class="link adv-search-s">@Html.ActionLink("Change Category", "index", "directory", null, new { @style = "color:#fff !important;" })</span>
            </li>
            @*   <li>
                        <input type="text" id="SearchBox" placeholder="Search by Facility Name" data-autocomplete="@Url.Action("pagenames","directory")" />
                    </li>*@
        </ul>

    </div>

</div>

