<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="menu">
                    <li>@Html.ActionLink("About", "about", "home")</li>
                    <li>@Html.ActionLink("Advertising", "advertising", "home")</li>
                    <li>@Html.ActionLink("Privacy", "privacy_policy", "home")</li>
                    <li>@Html.ActionLink("Our Sponsors", "sponsors", "home")</li>
                    <li>@Html.ActionLink("Contact Us", "contact", "home")</li>
                    <li>@Html.ActionLink("Add Listing", "addlisting", "directory")</li>
                    <li><a href="http://help.sober.com/live-24x7-help/">Live Help</a></li>
                    <li><a href="https://www.facebook.com/pages/wwwsobercom/223901165219" target="_blank"><img src="~/Images/facebookfooter.png" title="Facebook" width="24" height="24" /></a></li>
                    <li><a href="https://twitter.com/soberdotcom" target="_blank"><img src="~/Images/twitterfooter.png" title="Twitter" width="24" height="24" /></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p>   © Copyright 2015, Sober.com LLC</p>
            </div>
        </div>
    </div>
</footer>