@model SoberModel.FreeListing

@{
    var FreeListings = Model;
    string name1 = FreeListings.name1 == null ? "" : FreeListings.name1;
    string name2 = FreeListings.name2 == null ? "" : FreeListings.name2;
    string city = FreeListings.location_city == null ? string.Empty : FreeListings.location_city + ",";
    string address2 = city + " " + FreeListings.location_state + " " + FreeListings.location_zip;
    string phone = FreeListings.phone == null ? string.Empty : FreeListings.phone;
    string state = FreeListings.location_state.ToLower();
    if (ViewBag.StateName != null)
    {
        state = ViewBag.StateName;
        state = state.ToLower();
    }
    if (!string.IsNullOrWhiteSpace(state) && state.Length <= 2)
    {
        state = MvcApplication4.utilities.GetStateNameFromAbbrevation(state);
    }
    string link = Url.Action("samhsa", "directory", new { rehab = FreeListings.PageName.ToLower(), city = FreeListings.location_city.ToLower(), state = state });
    string logo = "http://www.sober.com/contents/pictures/default-profile-img.jpg";
    if (!string.IsNullOrWhiteSpace(FreeListings.logo) && !FreeListings.isPaid)
    {
        logo = "http://www.sober.com/contents/logo/" + FreeListings.logo.Replace(" ", "%20").Replace("|", "").ToLower();
    }
    if (!string.IsNullOrWhiteSpace(FreeListings.logo) && FreeListings.isPaid)
    {
        logo = @"http://www.sober.com/contents/premium_logo/compressed/" + FreeListings.logo.Replace(" ", "%20").Replace("|", "").ToLower();
        if (!File.Exists(@"C:\inetpub\SoberSurveyImagesAndVideos\Premium_Logo\compressed\" + FreeListings.logo.Trim()))
        {
            logo = @"http://www.sober.com/contents/premium_logo/" + FreeListings.logo.Trim().Replace(" ", "%20").Replace("|", "").ToLower(); ;
        }
    }

    string profile = Url.Action("samhsa", "directory", new { rehab = FreeListings.PageName.ToLower(), city = FreeListings.location_city.ToLower(), state = state });
    if (FreeListings.isEnhanced && !FreeListings.IsProfileInactive)
    {
        link = profile = Url.Action("profile", "directory", new { rehab = FreeListings.PageName.ToLower(), city = FreeListings.location_city.ToLower(), state = state.ToLower(), facility_type = FreeListings.surveyTypeShort.ToLower() });
    }    

    if (name1.Trim().ToUpper().Equals("NULL"))
    {
        name1 = "";
    }
    
    if (name2.Trim().ToUpper().Equals("NULL"))
    {
        name2 = "";
    }
    
    if (string.IsNullOrWhiteSpace(FreeListings.PageName))
    {
        link = "";
        profile = "";
    }

    string paid = "";
    if (Model.isPaid)
    {
        paid = "paidlisting";
    }

    <li class="row @paid">
        <div itemscope itemtype="http://schema.org/LocalBusiness">
            @if (Model.isPaid)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="banner-img">
                        <span></span>

                        @if (!string.IsNullOrWhiteSpace(FreeListings.displayImage) && FreeListings.isEnhanced)
                        {
                            string picture = "http://www.sober.com/contents/pictures/compressed/" + FreeListings.displayImage;
                            picture = picture.Replace(" ", "%20");
                            <a href="@link">
                                <img class="img-rounded" src="@picture" />
                            </a>
                        }
                        @if (!string.IsNullOrWhiteSpace(FreeListings.displayImage) && !FreeListings.isEnhanced)
                        {
                            string picture = "http://www.sober.com/contents/pictures/compressed/" + FreeListings.displayImage;
                            picture = picture.Replace(" ", "%20");
                            <img class="img-rounded" src="@picture" />
                        }
                        @if (string.IsNullOrWhiteSpace(FreeListings.displayImage))
                        {
                            string picture = "http://www.sober.com/contents/pictures/default-profile-img.jpg";
                            <img class="img-rounded" src="@picture" />
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-12 col-md-3">
                    <div class="banner-img">
                        @if (!string.IsNullOrWhiteSpace(FreeListings.displayImage) && FreeListings.isEnhanced)
                        {
                            string picture = "http://www.sober.com/contents/pictures/compressed/" + FreeListings.displayImage;
                            picture = picture.Replace(" ", "%20");
                            <a href="@link">
                                <img class="img-rounded" src="@picture" />
                            </a>
                        }
                        @if (!string.IsNullOrWhiteSpace(FreeListings.displayImage) && !FreeListings.isEnhanced)
                        {
                            string picture = "http://www.sober.com/contents/pictures/compressed/" + FreeListings.displayImage;
                            picture = picture.Replace(" ", "%20");
                            <img class="img-rounded" src="@picture" />
                        }
                        @if (string.IsNullOrWhiteSpace(FreeListings.displayImage))
                        {
                            string picture = "http://www.sober.com/contents/pictures/default-profile-img.jpg";
                            <img class="img-rounded" src="@picture" />
                        }
                    </div>
                </div>
            }
            <div class="col-xs-12 col-md-9 listing-info">
                <div class="row">
                    <div class="col-xs-6 col-md-7">
                        <h5 itemprop="name">
                            <a href="@profile">@name1</a>

                            @if (FreeListings.HasRehabReview)
                            {
                                string rehabLink = link + "#review";
                                <a href="@rehabLink" target="_blank" style="font-size:smaller;color:darkblue;text-decoration:underline">Rehab Review</a>
                                <br />
                            }

                            @if (FreeListings.distance >= 0 && ViewBag.Zip != null)
                            {
                                <span>@FreeListings.distance Miles from ZipCode @ViewBag.Zip</span>
                            }
                            @if (FreeListings.distance >= 0 && ViewBag.Zip == null)
                            {
                                <span>@FreeListings.distance Miles</span>
                            }
                        </h5>
                        <div>
                            <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-href="@link"></div>
                        </div>

                        <ul class="directory-info" itemscope itemprop="address" itemtype="http://schema.org/PostalAddress">
                            <li>
                                <span itemprop="addressLocality">@city</span>
                                <span itemprop="addressRegion">@FreeListings.location_state</span>
                                <span itemprop="postalCode">@FreeListings.location_zip</span>
                            </li>
                            <li>
                                Tel : <span itemprop="telephone">@phone</span>
                            </li>

                            @if (FreeListings.isEnhanced && FreeListings.surveyType.ToLower().Equals("treatmentcentersurvey"))
                            {
                                if (FreeListings.Res_avg_Cost_From_TreatmentSurveyOnly > 200 && FreeListings.Res_avg_Cost_To_TreatmentSurveyOnly > 200)
                                {
                                    <li>Residential: <span style="color:green;font-weight:bold">@String.Format("{0:C0}", @FreeListings.Res_avg_Cost_From_TreatmentSurveyOnly) - @String.Format("{0:C0}", @FreeListings.Res_avg_Cost_To_TreatmentSurveyOnly)</span></li>
                                }
                                if (FreeListings.IOP_avg_Cost_From_TreatmentSurveyOnly > 200 && FreeListings.IOP_avg_Cost_To_TreatmentSurveyOnly > 200)
                                {
                                    <li>Intensive OutPatient: <span style="color:green;font-weight:bold">@String.Format("{0:C0}", @FreeListings.IOP_avg_Cost_From_TreatmentSurveyOnly) - @String.Format("{0:C0}", @FreeListings.IOP_avg_Cost_To_TreatmentSurveyOnly)</span></li>
                                }
                                if (FreeListings.OP_avg_Cost_From_TreatmentSurveyOnly > 200 && FreeListings.OP_avg_Cost_To_TreatmentSurveyOnly > 200)
                                {
                                    <li>Outpatient: <span style="color:green;font-weight:bold">@String.Format("{0:C0}", @FreeListings.OP_avg_Cost_From_TreatmentSurveyOnly) - @String.Format("{0:C0}", FreeListings.OP_avg_Cost_To_TreatmentSurveyOnly)</span></li>
                                }
                                if (FreeListings.Hos_Inp_Cost_From_TreatmentSurveyOnly > 200 && FreeListings.Hos_Inp_Cost_To_TreatmentSurveyOnly > 200)
                                {
                                    <li>Hospital: <span style="color:green;font-weight:bold">@String.Format("{0:C0}", @FreeListings.Hos_Inp_Cost_From_TreatmentSurveyOnly) - @String.Format("{0:C0}", FreeListings.Hos_Inp_Cost_To_TreatmentSurveyOnly)</span></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-5">
                        <div class="row">   
                                                                                
                            <div class="col-xs-6 col-md-6">
                                @if (FreeListings.isCertifiedPartner)
                                {
                                    if (FreeListings.isEnhanced)
                                    {
                                        <a href="@link">
                                            <img class="cer-ico" src="~/Images/sober_certified.jpg" />
                                        </a>
                                    }
                                    else
                                    {
                                        <img class="cer-ico" src="~/Images/sober_certified.jpg" />
                                    }

                                }
                            </div>

                            <div class="col-xs-6 col-md-6">
                                @if (!FreeListings.isEnhanced)
                                {
                                    <img src="@logo" class="logo-img" alt="@FreeListings.name1" />
                                }
                                else
                                {
                                    <a href="@link">
                                        <img src="@logo" class="logo-img" alt="@FreeListings.name1" />
                                    </a>
                                }
                            </div>
                        </div>                        
                    </div>
                </div>

                <div class="more" itemprop="description">
                    @Html.Raw(FreeListings.Description)
                </div>

                @if (FreeListings.InsuranceProviders != null && FreeListings.InsuranceProviders.Count() > 0)
                {
                    int otherProviders = FreeListings.InsuranceProviders.Count() - 1;
                        
                    if (ViewBag.Insurance != null)
                    {
                        <p>In addition to @ViewBag.Insurance coverage, this rehab accepts @otherProviders other insurance coverages.</p>
                    }
                    else
                    {
                        <p>Some of the insurance providers accepted by this rehab:</p>
                    }
                    
                    
                    int insuranceCounter = 0;

                    <ul class="insurance-img">
                        @foreach (var insurance in FreeListings.InsuranceProviders)
                        {
                            string insuranceImage = "http://www.sober.com/contents//insurance/" + insurance.Ins_ProviderLogo;
                            insuranceCounter++;
                            
                            if (insuranceCounter == 8)
                            {
                                <a href="@link"> 
                                    <li>see more...</li>
                                </a>
                            }
                            else if (insuranceCounter < 8)
                            {
                                <a href="@Url.Action("insurance-companies-covering-rehab", "directory", new { name = insurance.Ins_ProviderName.ToLower() })" target="_blank">
                                    <li><img src="@insuranceImage" alt="@insurance.Ins_ProviderName" /></li>
                                </a>
                            }                            
                        }
                    </ul>

                }
            </div>
        </div>
    </li>
}