@{
    Layout = null;
    string phoneid = "4120";
    string phoneversion = "a";
    string callnow;
    var phone = Request.Cookies["campaign"];
    var phonenum = "855-237-4120";
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    string rehab = Request.QueryString["rehab"];

    if (controller == "facilities" && (action == "halfway_houses" || action == "sober_houses") || (rehab == "halfway houses" || rehab == "sober houses"))
    {
        phonenum = "866-316-8099";
        phoneid = "8099";
        phoneversion = "a";
    }
    else if (phone != null && phone.HasKeys)
    {
        phoneid = phone["id"];
        phoneversion = phone["version"];

        using (SoberModel.DBManager context = new SoberModel.DBManager())
        {
            phonenum = context.Campaigns.Find(phone["id"].Trim()).Phone;
        }
    }
    else if (controller == "meetings")
	{
        phoneid = "4121";
        phoneversion = "a";
    }

    callnow = "/Images/CallNow/" + phoneid + phoneversion + ".jpg";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    
    @RenderSection("head", false)
    @Styles.Render("~/content/common_css")
    @Scripts.Render("~/bundles/common_scripts")
    @RenderSection("includes", required: false)
        
    <script src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    
    <script type='text/javascript'>
        GS_googleAddAdSenseService("ca-pub-4181438337538149");
        GS_googleEnableAllServices();
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script type="text/javascript">
    (function () {
        var shr = document.createElement('script');
        shr.setAttribute('data-cfasync', 'false');
        shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
        shr.type = 'text/javascript'; shr.async = 'true';
        shr.onload = shr.onreadystatechange = function () {
            var rs = this.readyState;
            if (rs && rs != 'complete' && rs != 'loaded') return;
            var site_id = 'b2f51c9743283f5cdac229c0b5f059cc';
            try { Shareaholic.init(site_id); } catch (e) { }
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(shr, s);
    })();
    </script>

</head>

<body>

    @Html.Partial("_TopMenu")

    <header>
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
                    <div class="navbar-header">
                        <a href="@Url.Action("index", "home")" class="logo">Sober.com</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <div class="menu"></div>
                        </button>
                    </div>
                </div>
                <div class="col-md-9">

                    @if (Request.RawUrl.Contains("/meetings/na"))
                    {
                        <div id="bannerAd">
                            @Html.Partial("_Ad728x90")
                        </div>                        
                    }
                    else
                    {
                        <div id="bannerAd" style="float: left;">
                            @Html.Partial("_Ads1")                            
                        </div>
                        @*<a href="tel:@phonenum" style="float: left;"><img src=@callnow class="fader callnow" /></a>*@
                    }
                </div>
                
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <div id="Error" style="display: none;">@ViewBag.Error</div>

    @Html.Partial("_Footer")
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23900484-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker();            
            $('.datepicker').prop('readonly', true).datepicker();

            $('.numbersOnly').keyup(function () {
                if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                    this.value = this.value.replace(/[^0-9\.]/g, '');
                }
            });

            if ($('#Error').text() != "") {
                alert($('#Error').text());
            }

            //var wid = window.screen.availWidth;
            //if (wid < 1024) {
            //    $('#bannerAd').hide();
            //}
            //else if (wid >= 1024 && wid < 1200) {
            //    $('.callnow').width(268);
            //}
        });
    </script>
    <script type="text/javascript">
        function Search() {
            var state = $('#States');
            var insurance = $('#Insurance').val();
            var address1 = "";

            if ($('Address').val() != undefined) {
                var address1 = $('#Address').val().trim().toLowerCase().replace(/ /g, '%20');
            }            

            if (state != null && $('#States').val() != undefined) {
                if (address1 != "") {
                    address1 = address1 + "," + $('#States').val().toLowerCase();
                }
                else {
                    address1 = $('#States').val().toLowerCase();
                }
            }

            var facility_type1 = $('#FacilityType').val().trim().toLowerCase().replace(/ /g, '%20');
            var href = '@Url.Action("listings", "directory", new { address = "_address_" })'.replace('_address_', address1).replace(/ /g, '%20') + '&rehab=' + facility_type1;

            if (insurance != undefined) {
                if (insurance.trim() != "") {
                    href += '&insurance=' + insurance.toLowerCase();
                }
            }

            location.href = href;
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $(":input[data-autocomplete]").each(function () {
                $(this).autocomplete({ source: $(this).attr("data-autocomplete") });
            });
        });
    </script>
    <script>
        /* Attach tracking to all download & external links */
        var _gaq = _gaq || [];

        function _gaLt(event) {
            var el = event.srcElement || event.target;

            /* Loop up the tree through parent elements if clicked element is not a link (eg: an image in a link) */
            while (el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href))
                el = el.parentNode;

            if (el && el.href) {
                if (el.href.indexOf(location.host) == -1) { /* external link */
                    _gaq.push(["_trackEvent", "Outgoing Links", el.href, document.location.pathname + document.location.search]);
                    /* if target not set delay opening of window by 0.5s to allow tracking */
                    if (!el.target || el.target.match(/^_(self|parent|top)$/i)) {
                        setTimeout(function () {
                            document.location.href = el.href;
                        }.bind(el), 500);
                        /* Prevent standard click */
                        event.preventDefault ? event.preventDefault() : event.returnValue = !1;
                    }
                }

            }
        }

        /* Attach the event to all clicks in the document */
        var d = document;
        d.addEventListener ? d.addEventListener("click", _gaLt, !1) : d.attachEvent && d.attachEvent("onclick", _gaLt);
    </script>
</body>

</html>