@model IEnumerable<SoberModel.PaidListing>

<ul class="listings">
    @foreach (var PaidListings in Model)
    {
        string link = "";
        if (PaidListings.isEnhanced)
        {
            link = Url.Action("profile", "directory", new { rehab = PaidListings.PageName.ToLower(), city = PaidListings.city.ToLower(), state = PaidListings.state.ToLower(), facility_type = PaidListings.surveyTypeShort.ToLower() });

        }
        string city = PaidListings.city == null ? string.Empty : PaidListings.city + ",";
        string address2 = city + " " + PaidListings.state + " " + PaidListings.zip;
        string logo = @"http://www.sober.com/contents/premium_logo/compressed/" + PaidListings.logo.Trim().Replace(" ", "%20");

        if (!File.Exists(@"C:\inetpub\SoberSurveyImagesAndVideos\Premium_Logo\compressed\" + PaidListings.logo.Trim()))
        {
            logo = @"http://www.sober.com/contents/premium_logo/" + PaidListings.logo.Trim().Replace(" ", "%20");
        }
        string htmlHeadline = HttpUtility.HtmlDecode(PaidListings.headline);

        <li class="row">
            <div itemscope itemtype="http://schema.org/LocalBusiness">
                <div class="col-xs-12 col-md-3">
                    <div class="banner-img">
                        <span></span>
                        @if (!string.IsNullOrWhiteSpace(PaidListings.displayImage) && PaidListings.isEnhanced)
                        {
                            string picture = "http://www.sober.com/contents/pictures/compressed/" + PaidListings.displayImage;
                            picture = picture.Replace(" ", "%20");
                            <a href="@link">
                                <img class="img-rounded" src="@picture" />
                            </a>
                        }
                        @if (!string.IsNullOrWhiteSpace(PaidListings.displayImage) && !PaidListings.isEnhanced)
                        {
                            string picture = "http://www.sober.com/contents/pictures/compressed/" + PaidListings.displayImage;
                            picture = picture.Replace(" ", "%20");
                            <img class="img-rounded" src="@picture" />
                        }
                        @if (string.IsNullOrWhiteSpace(PaidListings.displayImage))
                        {
                            string picture = "http://www.sober.com/contents/pictures/default-profile-img.jpg";
                            <img class="img-rounded" src="@picture" />
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-md-9 listing-info">
                    <div class="row">
                        <div class="col-xs-6 col-md-7">
                            <h5 itemprop="name">
                                @if (PaidListings.isEnhanced)
                                {
                                    <a href="@link">@htmlHeadline</a>
                                }
                                else
                                {
                                    @htmlHeadline
                                }

                                @if (PaidListings.HasRehabReview)
                                {
                                    string rehabLink = link + "#review";
                                    <a href="@rehabLink" target="_blank" style="font-size:smaller;color:darkblue;text-decoration:underline">Rehab Review</a>
                                    <br />
                                }
                            </h5>

                            <div>
                                <g:plus action="share" href="@link"></g:plus>
                            </div>

                            <ul class="directory-info" itemscope itemprop="address" itemtype="http://schema.org/PostalAddress">
                                <li>
                                    <span itemprop="addressLocality">@city</span>
                                    <span itemprop="addressRegion">@PaidListings.state</span>
                                    <span itemprop="postalCode">@PaidListings.zip</span>
                                </li>
                                <li>
                                    Tel : <span itemprop="telephone">@PaidListings.phone </span>
                                </li>

                                @if (PaidListings.isEnhanced && PaidListings.surveyType.ToLower().Equals("treatmentcentersurvey"))
                                {
                                    if (PaidListings.Res_avg_Cost_From_TreatmentSurveyOnly > 200 && PaidListings.Res_avg_Cost_To_TreatmentSurveyOnly > 200)
                                    {
                                        <li>Residential: <span style="color:green;font-weight:bold">@String.Format("{0:C0}", @PaidListings.Res_avg_Cost_From_TreatmentSurveyOnly) - @String.Format("{0:C0}", @PaidListings.Res_avg_Cost_To_TreatmentSurveyOnly)</span></li>
                                    }
                                    if (PaidListings.IOP_avg_Cost_From_TreatmentSurveyOnly > 200 && PaidListings.IOP_avg_Cost_To_TreatmentSurveyOnly > 200)
                                    {
                                        <li>Intensive OutPatient: <span style="color:green;font-weight:bold">@String.Format("{0:C0}", @PaidListings.IOP_avg_Cost_From_TreatmentSurveyOnly) - @String.Format("{0:C0}", @PaidListings.IOP_avg_Cost_To_TreatmentSurveyOnly)</span></li>
                                    }
                                    if (PaidListings.OP_avg_Cost_From_TreatmentSurveyOnly > 200 && PaidListings.OP_avg_Cost_To_TreatmentSurveyOnly > 200)
                                    {
                                        <li>Outpatient: <span style="color:green;font-weight:bold">@String.Format("{0:C0}", @PaidListings.OP_avg_Cost_From_TreatmentSurveyOnly) - @String.Format("{0:C0}", PaidListings.OP_avg_Cost_To_TreatmentSurveyOnly)</span></li>
                                    }
                                    if (PaidListings.Hos_Inp_Cost_From_TreatmentSurveyOnly > 200 && PaidListings.Hos_Inp_Cost_To_TreatmentSurveyOnly > 200)
                                    {
                                        <li>Hospital: <span style="color:green;font-weight:bold">@String.Format("{0:C0}", @PaidListings.Hos_Inp_Cost_From_TreatmentSurveyOnly) - @String.Format("{0:C0}", PaidListings.Hos_Inp_Cost_To_TreatmentSurveyOnly)</span></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="col-xs-6 col-md-5">
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    @if (PaidListings.isCertified)
                                    {                                      
                                        
                                        if (PaidListings.isEnhanced)
                                        {
                                            <a href="@link">
                                                <img class="cer-ico" src="~/Images/sober_certified.jpg" />
                                            </a>
                                        }
                                        else
                                        {
                                            <img class="cer-ico" src="~/Images/sober_certified.jpg" />
                                        }

                                    }
                                </div>

                                <div class="col-xs-6 col-md-6">

                                    @if (!PaidListings.isEnhanced)
                                    {
                                        <img src="@logo" class="logo-img" alt="@PaidListings.headline" />
                                    }
                                    else
                                    {
                                        <a href="@link">
                                            <img src="@logo" class="logo-img" alt="@PaidListings.headline" />
                                        </a>
                                    }
                                </div>
                            </div> 
                        </div>                            
                    </div>

                    <div class="more" itemprop="description">
                        @Html.Raw(PaidListings.narrative)
                    </div>

                    @if (PaidListings.InsuranceProviders != null && PaidListings.InsuranceProviders.Count() > 0)
                    {
                        int otherProviders = PaidListings.InsuranceProviders.Count() - 1;
                        
                        if (ViewBag.Insurance != null)
                        {
                            <p>In addition to @ViewBag.Insurance coverage, this rehab accepts @otherProviders other insurance coverages.</p>
                        }
                        else
                        {
                            <p>Some of the insurance providers accepted by this rehab:</p>
                        }
                        
                        
                        int insuranceCounter = 0;
                        
                        <ul class="insurance-img">
                            @foreach (var insurance in PaidListings.InsuranceProviders)
                            {
                                string insuranceImage = "http://www.sober.com/contents//insurance/" + insurance.Ins_ProviderLogo;
                                insuranceCounter++;
                                
                                if (insuranceCounter == 8)
                                {
                                    <a href="@link">
                                        <li>see more...</li>
                                    </a>
                                }
                                else if(insuranceCounter < 8)
                                {
                                    <a href="@Url.Action("insurance-companies-covering-rehab", "directory", new { name = insurance.Ins_ProviderName.ToLower() })" target="_blank">
                                        <li><img src="@insuranceImage" alt="@insurance.Ins_ProviderName" /></li>
                                    </a>
                                }                                
                            }
                        </ul>                       
                        
                    }                    
                </div>
            </div>                    
        </li>
    }
</ul>
