@{
    SoberBLL.ListingCategories categoryTypes = new SoberBLL.ListingCategories();
    var categoryList = categoryTypes.GetListingCategoryNames();
    //var insurances = new SoberModel.SoberMVCEntities().Insurance_Providers;
}

<div class="row search">
    <div class="col-md-2">
        <span class="title"><strong>Looking for...</strong></span>
    </div>

    <div class="col-md-4">
        <select id="FacilityType" class="selectpicker">
            @foreach (var item in categoryList.OrderBy(x => x))
            {
                if (item == "Seniors/Baby Boomers")
                {
                    <option value="@Html.Encode("Seniors-Baby Boomers")">@item</option>
                }
                else
                {
                    if (item == "Drug and Alcohol Treatment Centers")
                    {
                        <option selected value="@Html.Encode(@item)">Drug and Alcohol Treatment</option>
                    }
                    else
                    {
                        <option value="@Html.Encode(@item)">@item</option>
                    }
                    
                }
            }
        </select>

    </div>
    <div class="col-md-4">
        <input id="Address" type="text" class="form-control pin" placeholder="State, City, Zip (optional)" />
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" onclick="Search();">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Advanced Search", "advancedsearch", "directory", null, null)
    </div>
</div>