<nav class="navbar navbar-default" role="navigation">
    <div id="topMenu" class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Treatment & Housing</a>
                    <ul class="dropdown-menu mega-menu">
                        <li class="row">
                            <ol class="col-md-6">
                                <li role="presentation" class="dropdown-header">
                                    @Html.ActionLink("By Specialty", "index", "directory")                                    
                                </li>
                                <li>@Html.ActionLink("Adolescent Treatment", "adolescent_treatment", "facilities")</li>
                                <li>@Html.ActionLink("Alternative (Non-12 Step)", "alternative_treatment", "facilities")</li>
                                <li>@Html.ActionLink("Detox Centers", "detox_centers", "facilities")</li>
                                <li>@Html.ActionLink("Drugs & Alcohol Treatment", "drug_alcohol", "facilities")</li>
                                <li>@Html.ActionLink("Eating Disorders", "eating_disorders", "facilities")</li>
                                <li>@Html.ActionLink("Exclusive Rehabs", "exclusive_rehabs", "facilities")</li>
                                <li>@Html.ActionLink("Extended Care Facilities", "extended_care", "facilities")</li>
                                <li>@Html.ActionLink("Mens Treatment", "mens_treatment", "facilities")</li>
                                <li>@Html.ActionLink("Seniors/Baby Boomers", "seniors_baby_boomers", "facilities")</li>
                                <li>@Html.ActionLink("Womens Treatment", "womens_treatment", "facilities")</li>
                            </ol>
                            <ol class="col-md-6">
                                <li role="presentation" class="dropdown-header">
                                    By Rehab Payment Options
                                </li>
                                <li>@Html.ActionLink("Low Cost or Free Treatment", "low-cost-free-rehabs", "facilities")</li>
                                <li>@Html.ActionLink("My Insurance", "insurance-companies-covering-rehab", "directory")</li>

                                <li> </li>

                                <li role="presentation" class="dropdown-header">
                                    Recovery Housing
                                </li>
                                <li>@Html.ActionLink("Halfway Houses", "halfway_houses", "facilities")</li>
                                <li>@Html.ActionLink("Sober Houses", "sober_houses", "facilities")</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Rehab Reviews", "index", "rehab_reviews")
                </li>
                <li>
                    @Html.ActionLink("Write Review", "writereview", "rehab_reviews")
                </li>
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Meetings</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("aa-meetings", "meetings")">AA Meetings</a></li>
                        <li><a href="@Url.Action("na", "meetings")">NA Meetings</a></li>
                        <li><a href="@Url.Action("naControl", "Meetings")">Add/Modify Meeting</a></li>                        
                    </ul>
                </li>
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Am I an Alcoholic?", "alcoholic", "resources")</li>
                        <li>@Html.ActionLink("Blood Alcohol Calc", "blood_alcohol_calculator", "resources")</li>
                        <li>@Html.ActionLink("Sober Date Calc", "sober_calculator", "resources")</li>
                    </ul>
                </li>
            </ul>

            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <ul id="topRight" class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/account/login">Log In</a>
                    </li>
                    <li>
                        <a id="reg" href="/account/register">Register</a>
                    </li>
                </ul>
            }
            else
            {
                <ul id="topRight" class="nav navbar-nav navbar-right">
                    @if (HttpContext.Current.User.Identity.Name.StartsWith("facebook") || HttpContext.Current.User.Identity.Name.StartsWith("twitter"))
                    {
                        <li><strong>@Session["Name"]</strong></li>
                    }
                    else
                    {
                        <li><a href="/usermanagement/manageuser"><em><strong>@Membership.GetUserNameByEmail(User.Identity.Name)</strong></em></a></li>
                    }

                    <li>@Html.ActionLink("LogOut", "LogOut", "Account")</li>
                </ul>
            }
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

@if (!string.IsNullOrEmpty(ViewBag.Phone))
{
    <div class="org-bar">
        <p>Need treatment now? Call <span>@ViewBag.Phone</span> to speak to a experienced counselor right now.</p>
    </div>
}

<script type="text/javascript">
    var wid = window.screen.availWidth;
    
    if (wid >= 960 && wid < 1200) {
        $('#topMenu').removeClass('container');
    }

    $(document).ready(function () {
        var $header = $(".org-bar"),
            $clone = $header.before($header.clone().addClass("clone"));

        $(window).on("scroll", function () {
            var fromTop = $(window).scrollTop();
            $("body").toggleClass("down", (fromTop > 50));
        });
    });

</script>