@model SoberModel.Video 
@{
    ViewBag.Title = "edit treatmentcenter";
    Layout = null;
 //   Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/profile_scripts")
@Styles.Render("~/content/profile_css")
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<style>
    input.inp-box {
	border:1px solid #999; 
	border-radius:0;
    padding:6px;
	width:380px;
}
</style>
@using (Html.BeginForm("addvideo", "FileManager"))
{
    if (Request.QueryString["userID"] != null)
    {
        Model.userID = int.Parse(Request.QueryString["userID"]);
        Model.category = Request.QueryString["category"];
    }
 @Html.HiddenFor(x=>x.userID)
     @Html.HiddenFor(x=>x.category)
    <div>
        @Html.TextBoxFor(x => x.videoUrl, new { @class = "inp-box" })
        <input type="submit" title="Add Video" name="Add Video" value="Add Video" />
        @if(Model.status!=null && Model.status.Equals("success"))
        {
        <h3>Uploaded !! You can add upto 15 Videos</h3>
        }
    </div>         
}

