@model SoberModel.MediaFiles_Survey

@{
    char[] splitOptions = { '|', ',' };
    string videos = "";
}
@{
    
    SoberBLL.Media_Files.MediaFiles mediaFiles = new SoberBLL.Media_Files.MediaFiles();
    SoberModel.MediaFiles_Survey mediaFilesSurvey = mediaFiles.GetMediaFiles(@Model.User_Id, @Model.Category);      
     
}


@if (@mediaFilesSurvey != null && @mediaFilesSurvey.Video != null)
{
    videos = @mediaFilesSurvey.Video;
    
    <input type="hidden" id="category" value="@mediaFilesSurvey.Category" />
    <input type="hidden" id="user_id" value="@mediaFilesSurvey.User_Id" />
}
@{
    string[] videosList = videos.Split(splitOptions, StringSplitOptions.RemoveEmptyEntries);                                   
}

<ul id="videoListing" class="sortable col-md-12">
    @foreach (string myVideo in videosList)
    {
        string video = "";
        string videoId = "";
        if (myVideo != null)
        {
            video = myVideo;
        }
        if (video != null && !string.IsNullOrWhiteSpace(video))
        {
            string[] splitStr = video.Split(splitOptions, System.StringSplitOptions.RemoveEmptyEntries);
            if (splitStr != null && splitStr.Count() > 0)
            {

                int index = splitStr[0].LastIndexOf("?v=");
                if (index < 1)
                {
                    index = splitStr[0].LastIndexOf("&v=");
                    int ampFound = -1;
                    string tempStr = splitStr[0].Substring(index + 3);
                    ampFound = tempStr.IndexOf("&");
                    if (ampFound > 0)
                    {
                        tempStr = tempStr.Substring(0, ampFound);
                    }
                    videoId = "http://www.youtube.com/embed/" + tempStr;
                }
                else
                {
                    int ampFound = -1;
                    string tempStr = splitStr[0].Substring(index + 3);
                    ampFound = tempStr.IndexOf("&");
                    if (ampFound > 0)
                    {
                        tempStr = tempStr.Substring(0, ampFound);
                    }
                    videoId = "http://www.youtube.com/embed/" + tempStr;
                }
                if (index < 1)
                {
                    index = splitStr[0].LastIndexOf("/");
                    videoId = "http://www.youtube.com/embed/" + splitStr[0].Substring(index + 1);
                }
            }
        }
        if (!string.IsNullOrWhiteSpace(videoId))
        {
            <li title="@myVideo">
                <iframe src="@videoId" width="150px" height="150px" frameborder="0" allowfullscreen></iframe>
                <span class="anchor delete" title="@myVideo">Delete</span>
            </li>
        }

    }
</ul>

<input id="videoList" name="videoList" type="hidden" />

<script type="text/javascript">
    function GetVideos() {
        var info = "";

        $('#videoListing').children('li').each(function (i, e) {
            info += $(e).attr('title').trim() + "|";
        });

        $('#videoList').val(info);
    }

    $(document).ready(function () {
        GetVideos();

        $('span.delete').click(function () {
            var row = $(this).parent();

            $.ajax({
                url: '@Url.Action("listvideofiles", "FileManager")',
                type: "POST",
                data: { userID: $('#user_id').val(), category: $('#category').val(), videoToDelete: $(this).attr('title') },
                success: function () {
                    $(row).remove();
                    GetVideos();
                }
            });
        });

        $("#videoListing").sortable().bind('sortupdate', function () {
            GetVideos();
        });
    });
</script>    