@model SoberModel.MediaFiles_Survey

@{
    char[] splitOptions = { '|', ',' };
    string rules = "";
}
@{    
    SoberBLL.Media_Files.MediaFiles mediaFiles = new SoberBLL.Media_Files.MediaFiles();
    SoberModel.MediaFiles_Survey mediaFilesSurvey = mediaFiles.GetMediaFiles(@Model.User_Id, @Model.Category);
}

@if (@mediaFilesSurvey != null && @mediaFilesSurvey.Rules_Image != null)
{
    rules = @mediaFilesSurvey.Rules_Image;

    <input type="hidden" id="category" value="@mediaFilesSurvey.Category" />
    <input type="hidden" id="user_id" value="@mediaFilesSurvey.User_Id" />
}

@{
    string[] rulesList = rules.Split(splitOptions, StringSplitOptions.RemoveEmptyEntries);                                   
}

<ul id="pdfListing" class="sortable col-md-12">
    @foreach (string rule in rulesList)
    {
        string picture = "http://www.sober.com/contents/rules/" + rule;
        picture = picture.Replace(" ", "%20");

        <li class="col-md-12" title="@rule">
            <a href="@picture">@rule </a>
            <span class="anchor delete" title="@rule">Delete</span>
        </li>
    }
</ul>

<input id="pdfList" name="pdfList" type="hidden" />

<script type="text/javascript">
    function GetPDFs() {
        var info = "";

        $('#pdfListing').children('li').each(function (i, e) {
            info += $(e).attr('title').trim() + "|";
        });

        $('#pdfList').val(info);
    }

    $(document).ready(function () {
        GetPDFs();

        $('span.delete').click(function () {
            var row = $(this).parent();

            $.ajax({
                url: '@Url.Action("listpdffiles", "FileManager")',
                type: "POST",
                data: { userID: $('#user_id').val(), category: $('#category').val(), pdfToDelete: $(this).attr('title') },
                success: function () {
                    $(row).remove();
                    GetPDFs();
                }
            });
        });

        $("#pdfListing").sortable().bind('sortupdate', function () {
            GetPDFs();
        });
    });
</script>    