@model SoberModel.MediaFiles_Survey

@{    
    SoberBLL.Media_Files.MediaFiles mediaFiles = new SoberBLL.Media_Files.MediaFiles();
    SoberModel.MediaFiles_Survey mediaFilesSurvey = mediaFiles.GetMediaFiles(@Model.User_Id, @Model.Category);      
}

@if (@mediaFilesSurvey != null && @mediaFilesSurvey.Logo != null && !string.IsNullOrWhiteSpace(mediaFilesSurvey.Logo))
{
    string picture = "http://www.sober.com/contents/Logo/" + mediaFilesSurvey.Logo;
    picture = picture.Replace(" ", "%20");
    picture = picture.Replace("|", "");
    
    <div class="col-md-12">
        <img class="originalWidth" src="@picture" />
        <span class="anchor delete">Delete</span>
    </div>

    <input type="hidden" id="category" value="@mediaFilesSurvey.Category" />
    <input type="hidden" id="user_id" value="@mediaFilesSurvey.User_Id" />
}   

<script type="text/javascript">
    $('span.delete').click(function () {
        var row = $(this).parent();

        $.ajax({
            url: '@Url.Action("listlogo", "FileManager")',
            type: "POST",
            data: { userID: $('#user_id').val(), category: $('#category').val() },
            success: function () {
                $(row).remove();
            }
        });
    });
</script>   