@model SoberModel.MediaFiles_Survey

@{
    char[] splitOptions = { '|', ',' };
    string rules = "";
}
@{
    
    SoberBLL.Media_Files.MediaFiles mediaFiles = new SoberBLL.Media_Files.MediaFiles();
    SoberModel.MediaFiles_Survey mediaFilesSurvey = mediaFiles.GetMediaFiles(@Model.User_Id, @Model.Category);
    string logo = "";
}


@if (@mediaFilesSurvey != null && @mediaFilesSurvey.Rules_Image != null)
{
    logo = @mediaFilesSurvey.Rules_Image;
}



@using (Ajax.BeginForm("deletepdf", "FileManager", new AjaxOptions { UpdateTargetId = "productList" }))
{
 
        if (@mediaFilesSurvey != null && @mediaFilesSurvey.Image != null)
{
        string picture = "http://www.sober.com/contents/rules/" + logo;
        picture = picture.Replace(" ", "%20");
     <div>
    <a href="@picture">@logo </a>@Ajax.ActionLink("Delete", "listlogo", "FileManager", new { userID = @mediaFilesSurvey.User_Id, category = @mediaFilesSurvey.Category, pdfToDelete = logo },null, new {@class="delete" })
                 </div>         
        }

    <script type="text/javascript">
                    $('a.delete').click(function () {
                        $(this).parent().hide("slow", function () {
                        });
                    });                   
        </script>    
}

<div id="productList">


</div>