@model SoberModel.RegisterModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="content white-bg">
    <div class="container">

        <div class="row">
            @if (string.IsNullOrEmpty(ViewBag.Success as string))
            {
                using (Html.BeginForm("ResetPassword", "UserManagement"))
                {                    
                    @Html.HiddenFor(x => x.UserName)
                    @Html.HiddenFor(x => x.Email)

                    <div id="errordiv" class="err-msg col-md-12">
                        @Model.ErrMsg
                    </div>

                    <h2>Reset Password</h2>

                    <div class="col-md-12 required form-group">
                        <label>Login Email<span>*</span>: @Model.Email</label><br />
                        <span class="err-msg">@Html.ValidationMessageFor(m => m.Email)</span>
                    </div>

                    <div class="col-md-12 required form-group">
                        <label>Password<span>*</span>:</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        <span class="err-msg">@Html.ValidationMessageFor(m => m.Password)</span>
                    </div>

                    <div class="col-md-12 required form-group">
                        <label>Confirm Password<span>*</span>:</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        <span class="err-msg">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                    </div>

                    <div class="col-md-4 form-group">
                        <input type="submit" value="Update Password" class="btn btn-primary" />
                    </div>
                }

            }
            else
            {
                <h2>Update Password</h2>
                <p>Your password have been updated successfully.</p>
            }
        </div>
    </div>
</div>