@{
    ViewBag.Title = "Gambling Problems";
    Layout = "~/Views/Shared/_MasterResources.cshtml";
}
@section includes
{
    @Scripts.Render("~/bundles/profile_scripts")
    @Styles.Render("~/content/profile_css")
}
<div class="section wrap-s">
    <ul class="breadcrumbs-s">
        <li class="first"><a href="@Url.Action("index", "home")">Home</a></li>
        <li>@Html.ActionLink("Directory", "index", "directory")</li>
        <li>@Html.ActionLink("Gambling Addiction", "gambling", "resources")</li>
    </ul>
    <div class="profile-page-cont-s">
        <div class="title-cont-s">
            <h1>Gambling Problems</h1>
        </div>
        <div class="cont-s">
            <div class="d-cont">
                <div class="carousel-s">
                    @Html.Partial("_AdResponsive")
                    <div class="faq">
                        <div class="head">Gambling Addiction</div>
                        <ul class="faqs">
                            <li>
                                <p class="ques">
                                    Gambling Addiction <em>by Bertil Hjert</em>
                                </p>

                                <p>
                                    In earlier days, gamblers used to trek to Las Vegas or the Atlantic City in order to find some real action they crave for. Now, the scenario is changed
    completely. Gamblers can find the real thrill in their hometowns these days.
                                </p>
                                <p>
                                    Today, legalized gambling has become one of their rapid growing industries in America. The ever growing popularity of this game has made most people
    related to this industry make a lot of money.
                                </p>
                                <p>
                                    Unfortunately, gambling has become a type of addiction for most people who are involved in this game. People may look at this game as a pleasure seeking
    behavior but sometimes, it becomes really difficult to get rid of this activity or even avoid a certain type of emotional pain.
    <br />
                                    <br />
                                    In a wider perspective, addiction to gambling is a type of behavior that results in major disruptions in any area of life. One can suffer in one´s
    physical, social or even vocational area.
                                </p>
                                <p>
                                    According to the American Psychological Association, compulsive gambling can be categorized or referred to as a type of mental disorder of impulse control.
    It is also referred to as a type of chronic &amp; progressive disease that´s both diagnosable &amp; treatable. According to a research, about 2 to 4
    percent of Americans have already developed a gambling addiction.
                                </p>
                                <p>
                                    Here are some of causes of addictive gambling:
                                </p>
                                <p>
                                    The causes of pathological gambling are not known yet. However, researches have made many observations &amp; came to the following conclusions:
                                </p>
                                <p>
                                    a) Excess exposure to gambling under certain circumstances in which it is valued.
                                </p>
                                <p>
                                    b) A greater capacity for self deception.
                                </p>
                                <p>
                                    c) State of feeling intolerable such as depression, helplessness or guilt.
                                </p>
                                <p>
                                    An addicted gambler would exhibit the following symptoms:
                                </p>
                                <p>
                                    a) Lying
                                </p>
                                <p>
                                    b) Stealing money
                                </p>
                                <p>
                                    c) Excessive borrowing of money.
                                </p>
                                <p>
                                    d) Loss of control.
                                </p>
                                <p>
                                    e) Escapes
                                </p>
                                <p>
                                    f) Illegal acts
                                </p>
                                <p>
                                    g) Tolerance
                                </p>
                                <p>
                                    h) Withdrawal
                                </p>
                                <p>
                                    i) Greater risk of significant relationship
                                </p>
                                <p>
                                    j) Bailout
                                </p>
                                <p>
                                    k) Preoccupation
                                </p>
                                <p>
                                    The state of preoccupation occurs when the gambler constantly thinks about gambling. The individual may recall his or her experience in the past. The life
    of the gambler gets restricted to gambling &amp; different way to acquire money for gambling. The gambler in this phase may spend money that´s meant for
    some other purposes in order to fulfill the satisfaction gained by gambling.
                                </p>
                                <p>
                                    a) Often a gambler becomes tolerant of the gambling. Here he needs a good amount of money in to gambler.
                                </p>
                                <p>
                                    b) Stopping gambling suddenly may lead to withdrawal. This process may cause a lot of irritability whenever he or she tries to gamble less or quit
    gambling.
                                </p>
                                <p>
                                    c) Addiction to gambling can lead to lying to friends, family members &amp; near &amp; dear ones.
                                </p>
                                <p>
                                    d) A gambler loses control on his or her addiction to gambling.
                                </p>
                                <p>
                                    Gambling is not good for individual´s life. Getting addicted to this game can have a lot of bad effects. Here are some of the common problems; an
    individual may fall due to gambling.
                                </p>
                                <p>
                                    a) Loss of job or unemployment
                                </p>
                                <p>
                                    b) Debt
                                </p>
                                <p>
                                    c) Bankruptcy
                                </p>
                                <p>
                                    d) Fraud
                                </p>
                                <p>
                                    e) Embezzlement
                                </p>
                                <p>
                                    f) Forgery
                                </p>
                                <p>
                                    g) Getting involved in crime
                                </p>
                                <p>
                                    h) Arrest
                                </p>
                                <p>
                                    i) Incarceration
                                </p>
                                <p>
                                    j) Poor physical &amp; mental health
                                </p>
                                <p>
                                    k) Attempt to suicide
                                </p>
                                <p>
                                    If you want to get rid of addiction, it is very important to seek professional help. You can go for different therapies to get rid of gambling addiction.
                                </p>
                                <h3>About the Author
                                </h3>
                                <p>
                                    For more Articles, News, Information, Advice, and Resources about Addiction please visit
    <br />
                                    <a href="http://www.addiction-zone.com/" target="_new">ADDICTION ADVICE</a>
                                </p>

                            </li>
                             <div class="title">Sponsored ads</div>
                            

                                <li>@Html.Partial("_AdResponsive")</li>
                        </ul>
                    </div>
                  
                </div>
            </div>
            <div class="ads-cont-links-s">

                <div class="section">
                    <div class="title">Sponsored ads</div>
                    <ul class="link-list">
                         <li>@Html.Partial("_AdResponsive")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
