@{
    ViewBag.Title = "Work Addiction Info";
    Layout = "~/Views/Shared/_MasterResources.cshtml";
}
@section includes
{
    @Scripts.Render("~/bundles/profile_scripts")
    @Styles.Render("~/content/profile_css")
}
<div class="section wrap-s">
    <ul class="breadcrumbs-s">
        <li class="first"><a href="@Url.Action("index", "home")">Home</a></li>
        <li>@Html.ActionLink("Directory", "index", "directory")</li>
        <li>@Html.ActionLink("Work Addiction", "work", "resources")</li>
    </ul>
    <div class="profile-page-cont-s">
        <div class="title-cont-s">
            <h1>Work Addiction Info</h1>
        </div>
        <div class="cont-s">
            <div class="d-cont">
                <div class="carousel-s">
                    @Html.Partial("_AdResponsive")
                    <div class="faq">
                        <div class="head">Identify and Remedy Work Addiction</div>
                        <ul class="faqs">
                            <li>
                                <p class="ques"> <em>By </em><a href="http://ezinearticles.com/?expert=David_Krueger_MD" title="EzineArticles Expert Author David Krueger MD"><em>David Krueger MD </em></a></p>
                                <p>
                                    Work addiction is an unrestrained, unfulfillable internal demand for constant engagement in work and a corresponding inability to relax. A person with work
    addiction, a "workaholic," is incessantly driven, relentlessly active. Work is the one organizing and effective activity. For some work addicts, inactivity
    or activity other than work gives rise to guilt, anxiety, or emptiness. Some individuals view work as the only area in which they can establish and
    maintain their identities, feel effective, and enjoy feelings of importance, validation, and affirmation. Others may use work to counteract underlying
    feelings of inadequacy and ineffectiveness. In either case, the workaholic cannot rest.
                                </p>
                                <p>
                                    Working passionately, long and hard, and deriving satisfaction, does not make someone a work addict. An addiction is something you can't do without. These
    addicted to alcohol or drugs feel as if they cannot do without them. The person who cannot maintain comfort or a sense of worth without working is
    similarly addicted. People with work addiction have to work constantly, even on weekends, and during whatever vacations they permit themselves.
    <br />
                                    For these individuals, however, the relentless pursuit of work and the attainment of material gain do not result in pleasure.
                                </p>
                                <p>
                                    Like other addictions, work addiction affects the workaholic's social life and restricts his or her personal freedom and happiness. In fact, excessive work
    can be a means to withdraw from relationships, to manipulate relationships by limiting one's availability, or to regulate relationships so that not too
    much is expected.
                                </p>
                                <p>
                                    Individuals who are truly addicted to work do not find great pleasure in the work itself. Work, motivated by a desire to be effective, to experience
    mastery, and also avoids feeling bad. Like other compulsions work addiction is an attempt to regulate one's feelings and self-esteem.
                                </p>
                                <p>
                                    WORK ADDICTION: SELF-EVALUATION QUESTIONS
                                </p>
                                <p>
                                    Change begins by looking at things in a different way. Consider the following questions in relation to your work and your feelings about your work
    identity.
                                </p>
                                <p>
                                    o Do you have a specific time when your work life stops and your private life begins each day? Each weekend? For vacations?
                                </p>
                                <p>
                                    o When you leave work, do problems, projects, calls, appointments, and meetings follow you home and erode your private time?
                                </p>
                                <p>
                                    o Do you have withdrawal symptoms when not working, such as restlessness, anxiety, depression, or psychosomatic symptoms?
                                </p>
                                <p>
                                    o Has anyone close to you ever accused you of being a workaholic?
                                </p>
                                <p>
                                    o Have you become creative in rationalizing your excesses, perhaps by convincing yourself that success demands a dedication bordering on obsession? Do you
    fear failure if you do anything less?
                                </p>
                                <p>
                                    o Can you not seem to stop replaying conversations at work, reassessing decisions, and reexamining work details?
                                </p>
                                <p>
                                    o Is what you do who you are? Is your identity as a person so closely linked to your work identity that it is difficult to enjoy an activity not connected
    with work?
                                </p>
                                <p>
                                    o Do you take setbacks, feedback, or criticism of work projects personally?
                                </p>
                                <p>
                                    o Are you still trying to prove your worth to yourself, or someone else, by what you do? Do you believe that only unending effort will demonstrate your
    true value?
                                </p>
                                <p>
                                    o Are you doing what you do for someone else's response, or for your own benefit and satisfaction of your own ideals?
                                </p>
                                <p>
                                    o Is work an escape? Does it allow you to fill a void or get out of doing something you regard as unpleasant, such as meeting family obligations or facing
    family conflicts?
                                </p>
                                <p>
                                    o Do you have medical problems as a result of overwork, or a physical deterioration from alcohol, cigarettes, skimping on sleep, or overeating?
                                </p>
                                <p>
                                    o Has your social or family function deteriorated as a result of excessive work, including neglect of children or spouse?
                                </p>
                                <p>
                                    SOME REMEDIES FOR WORK ADDICTION
                                </p>
                                <p>
                                    o Establish a clear boundary between your work life and your private life: each day, each weekend, and for designated vacation periods. If you feel guilty
    or vaguely uncomfortable with taking time off or relaxing, consider reframing the time, even the play, as a necessary component of your work. In order to
    be maximally effective when you are at work, making time for a private life and for play is crucial.
                                </p>
                                <p>
                                    o Even though you may enjoy and feel rewarded by your work, play is equally important. Creativity, nurturing in itself, needs time to ferment, develop, and
    expand. You may even find it useful to set aside a brief time at the end of each day to allow closure of work activity, to have an official transition time
    that puts a period at the end of the sentence of each day so that time off is really time off.
                                </p>
                                <p>
                                    o Establish your own life plan on a daily basis, as well as the big picture on a yearly and career-long basis. Keeping a journal may be useful. Writing
    down your thoughts, feelings, plans, and timetables regarding work can clarify things and may provide a basis for reflection and comparison from year to
    year. Know what "good enough" is, so when you reach a goal, you recognize it.
                                </p>
                                <p>
                                    o Distinguish the feedback, criticism, and setbacks on work projects, as relating to the work itself, the task you've performed. Try not to hear them as a
    personal affront or invalidation.
                                </p>
                                <p>
                                    o Develop your emotional, interpersonal expertise as well as your technical expertise. Both can be finely tuned. Consider, for example, when different
    listening positions may be most effective. At times a colleague or employer may need your empathic ear; at other times an objective, even confrontational
    position may be needed.
                                </p>
                                <p>
                                    o Know the difference between thinking, feeling, and imagining, as opposed to acting. Physical action is not the only form of doing something; thinking and
    contemplating are active forms of doing something. This distinction may seem obvious, but it is not clear in the minds of many people. For example, a
    patient may come in and want to know what to "do" about her depression. There is no immediate thing to do; we must begin by understanding and resolving the
    emotional issues that underlie the symptom. The patient's own failed attempts to approach the problem actively, to apply willpower and distracting
    activity, provide ample evidence that another approach is required.
                                </p>
                                <p>
                                    o Reassess the amount of time you spend talking about your work with family and friends, and the amount of time you spend associating only with friends
    from work or people in the same line of work. Obviously people who care about each other are interested in all the things that are important to the other,
    including work. But, being caught up in war stories may represent an inability to establish boundaries for work or an overinclusive identity with one's
    work.
                                </p>
                                <p>
                                    David Krueger, M.D. is an Executive Strategist/ Professional Coach who mentors executives, entrepreneurs, and authors
    <br />
                                    <a href="mailto:dkrueger@mentorpath.com">dkrueger@mentorpath.com</a>
                                    <br />
                                    <a href="http://www.MentorPath.com" target="_new">http://www.MentorPath.com</a>
                                </p>
                                <p>
                                    He is author of 16 books on success, money, work, and self-development. McGraw Hill recently released his latest book, The Secret Language of Money.    <a href="http://www.TheSecretLanguageofMoney.com" target="_new">http://www.TheSecretLanguageofMoney.com</a> It is a Business Bestseller and has been
    translated into 10 languages.
                                </p>
                                <p>
                                    <br />
                                    Article Source: http://EzineArticles.com/8882
                                </p>


                            </li>
                             <div class="title">Sponsored ads</div>
                            

                                <li>@Html.Partial("_AdResponsive")</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="ads-cont-links-s">

                <div class="section">
                    <div class="title">Sponsored ads</div>
                    <ul class="link-list">
                         <li>@Html.Partial("_AdResponsive")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
