@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@model SoberModel.InquiryForm
@using Recaptcha.Web.Mvc;

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="page-contents-s">
    <div class="contact-form">
        @using (Html.BeginForm("contact", "inquiry"))
        { 
            @Html.HiddenFor(model => model.PageName)
            <div class="contact-title">
                <h3>Inquiries about @Model.facilityName</h3>
            </div>
  
            <ul class="form">
                <li>

                    <label>Your Name <span class="asterix">*</span></label>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </li>
                <li class="last">
                    <label>Your Telephone Number</label>
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </li>
                <li>
                    <label>Your Email <span class="asterix">*</span></label>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </li>
                <li class="last">
                    <label>Prefered contact method <span class="asterix">*</span></label>
                    <div class="float-left" style="width:inherit !important">


                        @Html.RadioButtonFor(model => model.PreferredContact, "Phone", new { @class = "chk-box" })
                        <label class="chk-box-label width-50">Phone</label>
                        @Html.RadioButtonFor(model => model.PreferredContact, "Email", new { @class = "chk-box" })
                        <label class="chk-box-label width-50">Email</label>
                        @Html.ValidationMessageFor(model => model.PreferredContact)
                    </div>

                </li>
                <li style="width:100%;">
                    <label>Your Message <span class="asterix">*</span></label>
                    @*<textarea style="width:780px; height:120px"></textarea>*@
                    @* @Html.EditorFor(model => model.Message)*@
                    @Html.TextAreaFor(model => model.Message, new {rows="6"  })


                    @Html.ValidationMessageFor(model => model.Message)
                </li>
                <li style="width:100%;" >
                    @Html.Recaptcha()
                </li>
                <li style="width:100%;padding-top:10px;" class="btn-cont" >
                    <input type="submit" class="btn" value="submit" />
                    <a href="" class="close">Cancel</a>
                </li>
            </ul>
					
            @Html.HiddenFor(model => model.facilityName)
            @Html.HiddenFor(model => model.facilityType)
   
							
        }
    </div>
</div>
