@model SoberModel.InquiryForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="content white-bg">
    <div class="container">
        <h2 class="panel box blue-bg">Details</h2>

        <div class="row">           

            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.InquiryID)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.InquiryID)
            </div>

            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Name)
            </div>

            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Phone)
            </div>

            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Email)
            </div>

            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.PreferredContact)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.PreferredContact)
            </div>

            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.facilityName)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.facilityName)
            </div>

            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.facilityType)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.facilityType)
            </div>

            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.Message)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Message)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>