@model SoberModel.InquiryForm

@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InquiryForm</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.InquiryID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InquiryID)
            @Html.ValidationMessageFor(model => model.InquiryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreferredContact)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreferredContact)
            @Html.ValidationMessageFor(model => model.PreferredContact)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.facilityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.facilityName)
            @Html.ValidationMessageFor(model => model.facilityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.facilityType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.facilityType)
            @Html.ValidationMessageFor(model => model.facilityType)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>