@model SoberModel.Insurance

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("create","insurance",FormMethod.Post, new { enctype = "multipart/form-data" }))
{  
    <div class="row">
        <h2>Add an Insurance Provider:</h2>
        <div class="row">
            <div class="col-md-12 form-group required">
                <label>Provider Name<span>*</span>:</label>
                @Html.TextBoxFor(model => model.Ins_ProviderName, new { @class = "form-control" })
                <span class="err-msg">@Html.ValidationMessageFor(model => model.Ins_ProviderName)</span>
            </div>
            <div class="col-md-12 form-group required">
                <label>Provider Logo (gif,jpg,png)<span>*</span>:</label>
                <input type="file" name="logo" accept="image/gif, image/jpeg, image/png" class="form-control" />                
                
                @Html.HiddenFor(x => x.Ins_ProviderLogo)
                <span class="err-msg">@Html.ValidationMessageFor(model => model.Ins_ProviderLogo)</span>                
            </div>
            <div class="col-md-12 form-group">
                <label>About Us:</label>
                @Html.TextAreaFor(x => x.Ins_AboutUs)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button id="addinsr" class="btn btn-primary">Submit</button>
            </div>            
            
            @if (TempData["gobacktreatmentcenterid"] != null)
            {
                <div class="col-md-4">
                    @Html.ActionLink("Back To Approval", "approve_treatment_center", "directory", new { userId = Convert.ToInt32(TempData["gobacktreatmentcenterid"]) }, new { @id = "asd", @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('Ins_AboutUs', {
            width: 450,
            enterMode: CKEDITOR.ENTER_BR
        });

        $('form').submit(function (e) {

            for (var i in CKEDITOR.instances) {
                (function (i) {
                    var name = '#' + CKEDITOR.instances[i].name;
                    var maxlength = parseInt($(name).attr('maxlength'));
                    var length = CKEDITOR.instances[i].getData().trim().length;

                    console.log(maxlength);

                    if (length > maxlength) {
                        alert(CKEDITOR.instances[i].name + " surpassed the " + maxlength);
                        CKEDITOR.instances[i].focus();
                        e.preventDefault();
                    }

                    $(name).val(CKEDITOR.instances[i].getData().trim());

                })(i);
            }
        });

        $('input[name="logo"').change(function () {
            $('#Ins_ProviderLogo').val($(this).val());
        });
    });
</script>