@model SoberModel.FamousAlumni

@{
    ViewBag.Title = "Delete Alumni";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="content white-bg">
    <div class="container">
        <h1>Delete Alumni</h1>

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.AlumniID)
            @Html.HiddenFor(x => x.Image)
            @Html.HiddenFor(x => x.Name)

            <div class="row">
                <div class="col-md-12 form-group">
                    <label>ID:</label>
                    @Html.DisplayFor(model => model.AlumniID)
                </div>
                <div class="col-md-12 form-group">
                    <label>Alumni Name:</label>
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="col-md-12 form-group">
                    <label>Alumni Image (gif,jpg,png)<span class="asterix">*</span>:</label>
                    @{
                        string insuranceImage = "http://www.sober.com/contents//alumni/" + Model.Image;
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <img class="originalWidth" src="@insuranceImage" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>