@model IEnumerable<SoberModel.Error>

@{
    ViewBag.Title = "Log of errors";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.dataTablesBootstrap.js"></script>
<link href="~/Content/jquery.dataTablesBootstrap.css" rel="stylesheet" />


<div class="content white-bg">
    <div class="container">
        <h1>Log of the errors</h1>

        <div class="table-responsive">
            <table id="log">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Error Type</th>
                        <th>Created</th>
                        <th>Location</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ErrorID</td>
                            <td>@item.ErrorType1.ErrorType1</td>
                            <td>@item.Created</td>
                            <td>@item.Location</td>
                            <td>@item.Message</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#log').dataTable({
            order: [[2, 'desc']]
        }).removeClass('display')
		.addClass('table table-striped table-bordered');;
    });
</script>
