@model SoberBLL.Reviews.ReviewModel
@{
    ViewBag.Title = "AddReview";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="content white-bg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index", "home")">Home</a></li>
            <li><a href="@Url.Action("Options", "Rehab_Reviews", new { @pagename = Model.PageName, @surveytype = Model.SurveyType })">Options</a></li>
            <li class="active">Add Review</li>
        </ol>

        <h1>Add New Review</h1>

        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.PageName)
                @Html.HiddenFor(model => model.SurveyType)
                
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Title</label>
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        </div>
                        <div class="col-md-12">
                            <label>Summary</label>
                            @Html.TextAreaFor(m => m.Summary, new { @class = "form-control ckeditor", @rows = 10 })
                        </div>
                        <div class="col-md-12">
                            <label>Review</label>
                            @Html.TextAreaFor(m => m.Review1, new { @class = "form-control ckeditor", @rows = 10 })
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Choose Actions</label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.ReviewStatus, "Status", "Name", Model.Status), new { @class = "selectpicker" })
                        </div>
                        <div class="col-md-6">
                            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>