@model SoberModel.Reviews.WriteReview

@{
    Layout = "~/Views/Shared/_Master.cshtml";
    ViewBag.Title = "Write a Review";

    int i = 0;
    int total = ViewBag.Total - 10;
}

<div class="content white-bg">
    <div class="container">
        @using (Html.BeginForm())
        {      
            <div class="col-md-12">
                <h2 class="panel box blue-bg">Write Your Own Rehab Review</h2>

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <span class="title"><b>Step 1</b> Search for the rehab you want to write about</span>
                        </p>
                    </div>

                    <div class="col-md-2">
                        <label>Facility Name:</label>
                    </div>
                    <div class="col-md-4 required form-group">
                        @Html.TextBoxFor(x => x.PageName, new { @class = "form-control", @required = true })
                        <span class="err-msg">@Html.ValidationMessageFor(x => x.PageName)</span>
                    </div>

                    <div class="col-md-4 required form-group">
                        @Html.DropDownListFor(x => x.State, new SelectList(SoberModel.States.GetAllStates(), "StateAbbreviation", "StateName"), "State (Any)", new { @class = "selectpicker" })
                        <span id="errStates" class="err-msg hidden">This field is required</span>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        }

        @if (total > 0)
        {
            <h3>There are more than @total for "@ViewBag.CurrentFilter" search. Please add a few more characters to the facility search.</h3>
        }

        @if (Model.Listing.Count > 0)
        {
            <div class="col-md-12">
                <p>
                    <span class="title"><b>Step 2</b> Select your rehab</span>
                </p>

                <div class="table-responsive">
                    <br />
                    <table id="report" class="table table-bordered table-listing">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name of Rehab</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Street</th>
                                <th>Profile Link</th>
                                <th class="hidden">Type</th>
                                <th class="hidden">PageName</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Listing)
                            {
                                i++;

                                if (string.IsNullOrEmpty(item.TypeListing))
                                {
                                    continue;
                                }

                                <tr class="anchor">
                                    <td>@i</td>
                                    <td>
                                        @Html.DisplayFor(x => item.name1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => item.location_city)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => item.location_state)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => item.location_street1)
                                    </td>
                                    <td>
                                        @if (item.TypeListing == "SoberLivingSurvey")
                                        {
                                            @Html.ActionLink("Sober Living", "profile", "directory", new { rehab = item.PageName, facility_type = "sl" }, new { @target = "_blank" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Treatment Center", "profile", "directory", new { rehab = item.PageName, facility_type = "tc" }, new { @target = "_blank" })
                                        }                                        
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(x => item.TypeListing)
                                    </td>
                                    <td class="hidden">
                                        @Html.DisplayFor(x => item.PageName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else if(Request.HttpMethod == "POST")
        {
            <div class="col-md-12">
                <h2>There is no faclity named like @Model.PageName in the state @Model.State&#46 You should change the search parameters.</h2>
            </div>
        }
        
        <div id="userReview" class="col-md-12">

        </div>      
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {     

        $('#State').change(function () {
            if ($(this).val() == "") {
                $('#errStates').removeClass('hidden');
            }
            else {
                $('#errStates').addClass('hidden');
            }
        });

        $('form').submit(function (e) {
            if ($('#State').val() == "") {
                $('#errStates').removeClass('hidden');
                e.preventDefault();
            }
            else {
                $('#errStates').addClass('hidden');
            }
        });

        $('tr.anchor').click(function () {
            var row = $(this);
            row.addClass("selected");

            row.siblings().each(function () {
                $(this).removeClass("selected");
            });
            
            $.ajax({
                type: "POST",
                url: '@Url.Action("WriteUserReview", "Rehab_Reviews")',                
                data: { pagename: row.children().eq(7).text().trim() },
                success: function (data) {                    
                    if (data != "") {
                        $('#userReview').html('<p> <span class="title"><b>Step 3</b> Review for: ' + row.children().eq(1).text().trim() + '</span></p>' + data);
                        $('#StayMonth').selectpicker();
                        $('#StayYear').selectpicker();
                        $('#Title').focus();
                    }
                    else {
                        alert('In order to write a review you need to log in.');
                        window.location.href = '@Url.Action("login", "account")';
                    }
                },
                error: function (ts) { alert(ts.responseText) }
            });            
        });
    });
</script>