@model SoberModel.LoginModel
@using Recaptcha.Web.Mvc;

<div id="sign-in-div" class="row">
    @using (Ajax.BeginForm("_LoginPartial", "Account", new { returnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "sign-in-div" }))
    {
        <div class="col-md-8">
            <div id="errordiv" class="err-msg">
                @Model.ErrMsg
            </div>
            <h2>Already registered? Sign In here...</h2>
            <div class="row">
                <div class="col-md-12 form-group required">
                    <label>Email<span class="asterix">*</span></label><br />
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })<br />
                    <span class="err-msg">@Html.ValidationMessageFor(m => m.Email)</span>
                </div>
                <div class="col-md-12 form-group required">
                    <label>Password<span class="asterix">*</span></label><br />
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })<br />
                    <span class="err-msg">@Html.ValidationMessageFor(m => m.Password)</span>
                </div>
                <div class="col-md-12 form-group">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe) Remember Me
                    </label>
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
                <div class="col-md-12 form-group">
                    @Ajax.ActionLink("New User? Register with SOBER.com", "Register", new { returnUrl = "#reload" }, new AjaxOptions { UpdateTargetId = "sign-in-div" })
                </div>
                <div class="col-md-12 form-group">
                    @Html.ActionLink("Forgot Password?", "ForgotPassword", "UserManagement")
                </div>
            </div>
        </div>
    }
    <div id="socialLoginForm" class="col-md-4 grey-bg row">
        <div class="col-md-12">
            <label>
                <p>OR.. Sign in using Facebook or Twitter (no Sober.com</p>
                <p>registration required). Note that you will be able</p>
                <p>to change your username to an anonymous</p>
                <p>name on Sober.com if desired at the next step.</p>
            </label>
        </div>
        <div class="col-md-12">
            <a href="@Url.Action("ExternalLogin", "Account", new { provider = "facebook", returnUrl = ViewBag.ReturnUrl })" class="btn fb-btn">
                <img class="originalWidth" src="~/Images/facebook.png" /> Sign In With Facebook
            </a>
        </div>
        <div class="col-md-12">
            <a href="@Url.Action("ExternalLogin", "Account", new { provider = "twitter", returnUrl = ViewBag.ReturnUrl })" class="btn twit">
                <img class="originalWidth" src="~/Images/twitter.png" /> Sign In With Twitter
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Recaptcha.create("6LeKU-kSAAAAAI-fjV99Gn18MFa6n_wW9VP8Tosg", "login_recaptcha_box", "");
    });
</script>
