@model SoberModel.LoginModel
@using Recaptcha.Web.Mvc;

@using (Ajax.BeginForm("_LoginPartial", "Account", new { returnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "sign-in-div" }))
{
    <p>@Model.ErrMsg</p>
    
    <h2>Already registered? Sign In here...</h2>
    
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
    <p class="err-msg">@Html.ValidationMessageFor(m => m.Email)</p>
    
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
    <p class="err-msg">@Html.ValidationMessageFor(m => m.Password)</p>
    
    @Html.CheckBoxFor(m => m.RememberMe) <label for="RememberMe">Remember Me</label>
    <div class="clear-both"></div>
    
    <button type="submit" class="btn btn-primary">Sign In</button>
    
    <p>@Ajax.ActionLink("New User? Register with SOBER.com", "_RegisterPartial", new { returnUrl = "#reload" }, new AjaxOptions { UpdateTargetId = "sign-in-div" })</p>
    <p>@Html.ActionLink("Forgot Password?", "ForgotPassword", "UserManagement")</p>
}

<br />
<p>OR.. Sign in using Facebook or Twitter (no Sober.com registration required). Note that you will be able to change your username to an anonymous name on Sober.com if desired at the next step.</p>

<p style="text-align:center;">
    <a href="@Url.Action("ExternalLogin", "Account", new { provider = "facebook", returnUrl = ViewBag.ReturnUrl })" class="btn fb-btn">
        <img class="originalWidth" src="~/Images/facebook.png" /> <span style="color: white;">Sign In With Facebook</span>
    </a>
</p>

<br />

<p style="text-align:center;">
    <a href="@Url.Action("ExternalLogin", "Account", new { provider = "twitter", returnUrl = ViewBag.ReturnUrl })" class="btn twit">
        <img class="originalWidth" src="~/Images/twitter.png" /> <span style="color: white;">Sign In With Twitter</span>
    </a>
</p>

<div id="sign-in-div" class="hidden"></div>

<script type="text/javascript">
    $(document).ready(function () {
        Recaptcha.create("6LeKU-kSAAAAAI-fjV99Gn18MFa6n_wW9VP8Tosg", "login_recaptcha_box", "");
    });
</script>
