@model SoberModel.RegisterModel
@using Recaptcha.Web.Mvc;

<style type="text/css">
    #recaptcha_response_field{
        height: auto !important;
    }
</style>

<div id="sign-up-cont" class="sign-in-cont">
    @using (Ajax.BeginForm("_RegisterPartial", "Account", new { returnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "sign-up-cont" }))
    {
        <div class="sign-in-form col-md-8">
            <h2>First time here? Register here...</h2>            
            
            <div class="row">
                <div class="err-msg col-md-12">
                    <span style="font-size: 16px;"><strong>@Model.ErrMsg</strong></span>
                </div>

                <div class="col-md-12 form-group required">
                    <label>Username<span>*</span></label><br />
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                    <span class="err-msg">@Html.ValidationMessageFor(m => m.UserName)</span>
                </div>
                <div class="col-md-12 form-group required">
                    <label>Email<span>*</span></label><br />
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    <span class="err-msg">@Html.ValidationMessageFor(m => m.Email)</span>
                </div>
                <div class="col-md-12 form-group required">
                    <label>Password<span>*</span></label><br />
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    <span class="err-msg">@Html.ValidationMessageFor(m => m.Password)</span>
                </div>
                <div class="col-md-12 form-group required">
                    <label>Confirm Password<span>*</span></label><br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                    <span class="err-msg">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                </div>               
                <div class="col-md-12 form-group required">
                    <div id="register_recaptcha_box"></div>
                </div>
                
                <div class="col-md-12">
                    <br />
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </div>
        </div>
    }
    <div id="socialLoginForm" class="col-md-4 grey-bg row">
        <div class="col-md-12">
            <label>
                <p>OR.. Sign in using Facebook or Twitter (no Sober.com</p>
                <p>registration required). Note that you will be able</p>
                <p>to change your username to an anonymous</p>
                <p>name on Sober.com if desired at the next step.</p>
            </label>
        </div>
        <div class="col-md-12">
            <a href="@Url.Action("ExternalLogin", "Account", new { provider = "facebook", returnUrl = ViewBag.ReturnUrl })" class="btn fb-btn">
                <img class="originalWidth" src="~/Images/facebook.png" /> Sign In With Facebook
            </a>
        </div>
        <div class="col-md-12">
            <a href="@Url.Action("ExternalLogin", "Account", new { provider = "twitter", returnUrl = ViewBag.ReturnUrl })" class="btn twit">
                <img class="originalWidth" src="~/Images/twitter.png" /> Sign In With Twitter
            </a>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        Recaptcha.create("6LeKU-kSAAAAAI-fjV99Gn18MFa6n_wW9VP8Tosg", "register_recaptcha_box", "");
    });
</script>
