@model SoberModel.User_ReviewRatings
@{
    Layout = "~/Views/Shared/_Master.cshtml";
    ViewBag.Title = "Edit User Review";
    SoberBLL.UserReview.UserReviewForm form = new SoberBLL.UserReview.UserReviewForm();
    var rdlist = form.rdList_RatingList;
    bool flag = false;
}

@using (Html.BeginForm("edituserreview", "UserReview"))
{
    @Html.HiddenFor(x => x.ReviewId)
    @Html.HiddenFor(x => x.PageName)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.CreatedOn)
    @Html.HiddenFor(x => x.Status)
    @Html.HiddenFor(x => x.Stay)
    @Html.HiddenFor(x => x.RequestIPAddress)

    <div id="reviewcontent" class="content white-bg">
        <div class="container">
            <h2 class="panel box blue-bg">Edit User Review</h2>

            <div class="row">
                <div class="col-md-3">
                    <label>How do you rate the place? </label>
                </div>
                <div class="col-md-7">

                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Delete Review", "deleteuserreview", new { reviewId = Model.ReviewId }, new { @class = "btn btn-primary", @style = "float:right;", @onclick = "return confirm('Are you sure you want to Delete this User Review?')" })
                </div>                
            </div>
            
            <div class="row required">
                <div class="col-md-6">
                    <label>Overall <span>*</span></label>
                    <span class="err-msg">@Html.ValidationMessageFor(model => model.Rating_Overall)</span>
                    <ul class="rating">
                        @foreach (var rdbtn in rdlist)
                        {
                            if (flag)
                            {
                                <li class="star-x">
                                    @Html.RadioButtonFor(model => model.Rating_Overall, rdbtn.Value)
                                </li>
                            }
                            else
                            {
                                <li class="star">
                                    @Html.RadioButtonFor(model => model.Rating_Overall, rdbtn.Value)
                                </li>
                            }

                            if (int.Parse(rdbtn.Value) == Model.Rating_Overall)
                            {
                                flag = true;
                            }
                        }
                        @{flag = false;}
                    </ul>
                </div>
                <div class="col-md-6">
                    <label>Treatment <span>*</span></label>
                    <span class="err-msg">@Html.ValidationMessageFor(model => model.Rating_Treatment)</span>
                    <ul class="rating">
                        @foreach (var rdbtn in rdlist)
                        {
                            if (flag)
                            {
                                <li class="star-x">
                                    @Html.RadioButtonFor(model => model.Rating_Treatment, rdbtn.Value)
                                </li>
                            }
                            else
                            {
                                <li class="star">
                                    @Html.RadioButtonFor(model => model.Rating_Treatment, rdbtn.Value)
                                </li>
                            }

                            if (int.Parse(rdbtn.Value) == Model.Rating_Treatment)
                            {
                                flag = true;
                            }
                        }
                        @{flag = false;}
                    </ul>
                </div>
            </div>

            <div class="row required">
                <div class="col-md-6">
                    <label>Accomodation <span>*</span></label>
                    <span class="err-msg">@Html.ValidationMessageFor(model => model.Rating_Accomodation)</span>
                    <ul class="rating">
                        @foreach (var rdbtn in rdlist)
                        {
                            if (flag)
                            {
                                <li class="star-x">
                                    @Html.RadioButtonFor(model => model.Rating_Accomodation, rdbtn.Value)
                                </li>
                            }
                            else
                            {
                                <li class="star">
                                    @Html.RadioButtonFor(model => model.Rating_Accomodation, rdbtn.Value)
                                </li>
                            }

                            if (int.Parse(rdbtn.Value) == Model.Rating_Accomodation)
                            {
                                flag = true;
                            }
                        }
                        @{flag = false;}
                    </ul>
                </div>
                <div class="col-md-6">
                    <label>Staff <span>*</span></label>
                    <span class="err-msg">@Html.ValidationMessageFor(model => model.Rating_Staff)</span>
                    <ul class="rating">
                        @foreach (var rdbtn in rdlist)
                        {
                            if (flag)
                            {
                                <li class="star-x">
                                    @Html.RadioButtonFor(model => model.Rating_Staff, rdbtn.Value)
                                </li>
                            }
                            else
                            {
                                <li class="star">
                                    @Html.RadioButtonFor(model => model.Rating_Staff, rdbtn.Value)
                                </li>
                            }

                            if (int.Parse(rdbtn.Value) == Model.Rating_Staff)
                            {
                                flag = true;
                            }
                        }
                        @{flag = false;}
                    </ul>
                </div>
            </div>

            <div class="row required">
                <div class="col-md-6">
                    <label>Value <span>*</span></label>
                    <span class="err-msg">@Html.ValidationMessageFor(model => model.Rating_Value)</span>
                    <ul class="rating">
                        @foreach (var rdbtn in rdlist)
                        {
                            if (flag)
                            {
                                <li class="star-x">
                                    @Html.RadioButtonFor(model => model.Rating_Value, rdbtn.Value)
                                </li>
                            }
                            else
                            {
                                <li class="star">
                                    @Html.RadioButtonFor(model => model.Rating_Value, rdbtn.Value)
                                </li>
                            }

                            if (int.Parse(rdbtn.Value) == Model.Rating_Value)
                            {
                                flag = true;
                            }
                        }
                        @{flag = false;}
                    </ul>
                </div>
                <div class="col-md-6">
                    <label>Food <span>*</span></label>
                    <span class="err-msg">@Html.ValidationMessageFor(model => model.Rating_Food)</span>
                    <ul class="rating">
                        @foreach (var rdbtn in rdlist)
                        {
                            if (flag)
                            {
                                <li class="star-x">
                                    @Html.RadioButtonFor(model => model.Rating_Food, rdbtn.Value)
                                </li>
                            }
                            else
                            {
                                <li class="star">
                                    @Html.RadioButtonFor(model => model.Rating_Food, rdbtn.Value)
                                </li>
                            }

                            if (int.Parse(rdbtn.Value) == Model.Rating_Food)
                            {
                                flag = true;
                            }
                        }
                        @{flag = false;}
                    </ul>
                </div>
            </div>
            
            <div class="row required">
                <label>Review Title <span>*</span></label><br />
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })<br />
                <span class="err-msg">@Html.ValidationMessageFor(model => model.Title)</span>
            </div>

            <div class="row required">
                <label>Your Review <span>*</span></label><br />
                @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", @rows = 10 })
                <span class="err-msg">@Html.ValidationMessageFor(model => model.Summary)</span>
            </div>

            <div class="row">
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Update Review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function addStar(e) {
        if ($(e).hasClass("star-x")) {
            $(e).removeClass("star-x");
            $(e).addClass("star");
        }
    }

    function removeStar(e) {
        if ($(e).hasClass("star")) {
            $(e).removeClass("star");
            $(e).addClass("star-x");
        }
    }

    $(document).ready(function () {
        $(".rating li input").change(function () {
            var li = $(this).parent();
            addStar(li);


            li.prevAll("li").each(function (i, e) {
                addStar(e);
            });

            li.nextAll("li").each(function (i, e) {
                removeStar(e);
            });
        });
    });
</script>